{
  "openapi": "3.1.0",
  "info": {
    "title": "LOX24 API Dokumentation (DE)",
    "description": "# Einleitung\n\nIn diesem Dokument finden Sie die Spezifikation für unsere LOX24 SMS Gateway API. Das Dokument hilft Ihnen dabei unsere SMS API in Ihre Applikation zu integieren und damit SMS zu versenden und zu empfangen.\nSie können unsere SMS API unter der URL https://api.lox24.eu finden. Die einzelnen Funkionen sprechen Sie mit Hilfe eines /funktion an. Z.B. https://api.lox24.eu/me um Ihre Account Informationen abzurufen oder https://api.lox24.eu/sms um eine SMS zu versenden.\n\n### Highlights\n- Nutzen Sie HTTPS, um Ihre Nachrichten SSL verschlüsselt zu übertragen\n- Versenden Sie verkettete (überlange) Nachrichten, welche beim Empfänger als eine zusammenhängende SMS ankommen\n- Senden Sie Ihre SMS im GSM 03.38 Zeichensatz oder in allen Sprachen als Unicode\n- Setzen Sie für jede SMS den Absender als Rufnummer mit bis zu 15 Ziffern oder Text mit bis zu 11 Zeichen\n- Senden Sie mit nur einer Anfrage eine Massen-SMS an tausende Rufnummern\n- Empfangen Sie SMS einer Inbound-Rufnummer über HTTPS oder per Mail\n- Prüfen Sie jederzeit den Status Ihrer SMS\n- Sichern Sie die Schnittstelle mit API-Keys und IP-Sperren\n\n\n### Anfragen Content-Type\nDer Content-Type für POST und PUT Anfragen wird gesetzt über `application/json`\noder `multipart/form-data` (für Schnittstellen mit Dateiupload).\n\n### Antwort-Header\n\nJede API-Antwort enthält eine eindeutige Anforderungskennung im Header „X-LOX24-REQUEST-ID“.\nDiese 32-stellige alphanumerische Kennung wird für jede Anfrage generiert und kann\nfür Supportzwecke verwendet werden, wenn Probleme gemeldet oder bestimmte API-Aufrufe nachverfolgt werden sollen.\n\n### Zeitangaben\nDie meisten Zeitangaben werden als unix timestamp (integer) übertragen.\n\n### IP-Blockierung\n\nWenn innerhalb einer Minute mehr als drei Anforderungen mit falschen Authentifizierungsdaten von einer IP-Adresse empfangen werden, dann werden alle nachfolgenden Anfragen von dieser IP für die nächsten zehn Minuten mit einer Antwort Status 429 (Too Many Requests) gesperrt.\n\n## Authentication\nAlle Funktionen erfordern eine Authentifizierung. Hierzu müssen Sie\neinen API-Key v2 in Ihrem Web-Account erstellen unter ([http://account.lox24eu](http://account.lox24eu)\n“Einstellungen” und “API-Einstellungen”). Sobald Sie den Key erstellt haben übertragen Sie diesen als HTTP header in dieser Form:\n\n```\ncurl -X GET https://api.lox24.eu/me \\\n  -H 'Host: api.lox24.eu' \\\n  -H 'X-LOX24-AUTH-TOKEN: 1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx'\n```\n\n```\ncurl -X POST https://api.lox24.eu/groups/7116/phones \\\n  -H 'Content-Type: application/json' \\\n  -H 'Host: api.lox24.eu' \\\n  -H 'X-LOX24-AUTH-TOKEN: 1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx' \\\n  -d '{\n    \"phone\": \"+4917663804817\",\n    \"a\": \"o2\"\n}'\n```\n\n### Ältere Authentifizierungsmethode\n\nWir unterstützen auch weiterhin die alte Version der Authentifizierung mit den beiden Headern 'X-LOX24-CLIENT-ID' und 'X-LOX24-AUTH-TOKEN', wobei die Client-ID identisch mit der Kundennummer ist, welche für den Login im Web-Account verwendet wird.\n\n```\ncurl -X GET https://api.lox24.eu/me \\\n  -H 'Host: api.lox24.eu' \\\n  -H 'X-LOX24-AUTH-TOKEN: e3f3a759b6677959b6ebfcxxxxxxxxxx' \\\n  -H 'X-LOX24-CLIENT-ID: 1234567'\n```\n\n### Wichtig!\n\nTeilen oder veröffentkichen Sie Ihren geheimen API-Key niemals. Halten Sie den Key geheim.\nEin unabsichtlich veröffentlichter Key kann jederzeit in Ihrem Web-Account\n(https://account.lox24.eu) in den \"Einstellungen\" und \"API-Einstellungen\" deaktiviert oder gelöscht werden.\n<!-- ReDoc-Inject: <security-definitions> -->",
    "version": "2.22",
    "contact": {
      "email": "berlin@lox24.eu",
      "url": "https://doc.lox24.eu"
    },
    "license": {
      "name": "LOX24 Servicebedingungen",
      "url": "https://www.lox24.eu/de/terms/"
    },
    "x-logo": {
      "url": "/images/logo.png",
      "href": "https://doc.lox24.eu/",
      "altText": "LOX24 API Dokumentation"
    }
  },
  "servers": [
    {
      "url": "https://api.lox24.eu",
      "description": ""
    }
  ],
  "security": [
    {
      "token": []
    }
  ],
  "tags": [
    {
      "name": "sms",
      "x-displayName": "SMS",
      "description": "Die SMS Schnittstelle dient dazu **einzelne SMS zu versenden**. Dies beinhaltet den richtigen SMS Versand aber auch den \"Dryrun\" zu Testzwecken. Daneben gibt es eine Reihe von Funktionen um versendete SMS abzufragen, SMS zu löschen oder den Versand zu stoppen.\n\n* Einzel-SMS verschicken\n* Versendete SMS abfragen\n* Zeitversetzte SMS stoppen\n* SMS Daten löschen\n* SMS Daten abfragen\n\nWenn Sie keine einzelnen SMS versenden wollen, sondern Massen-SMS über die API senden möchten, dann ist der Endpoint \"bulks\" relevant.\n"
    },
    {
      "name": "bulks",
      "x-displayName": "Massen-SMS",
      "description": "Die bulks Schnittstelle dient dazu **Massen-SMS zu versenden**. Dies beinhaltet den richtigen Massen-SMS Versand an mehrere Rufnummern und/oder Gruppen aber auch den \"Dryrun\" zu Testzwecken. Daneben gibt es eine Reihe von Funktionen um den Status einer Massensendung abzufragen oder die Sendung zu stoppen.\n\n* Massen-SMS verschicken\n* Status der Massen-SMS abfragen\n* Massen-SMS stoppen\n\nWenn Sie keine Massen-SMS versenden wollen, sondern individuelle SMS über die API senden möchten, dann ist der Endpoint \"sms\" relevant.\n"
    },
    {
      "name": "blocked numbers",
      "x-displayName": "Gesperrte Telefonnummer",
      "description": "Über den Endpunkt können Sie **blockierte Telefonnummern** für SMS-Kampagnen verwalten. Damit können Sie eine Liste mit Telefonnummern führen, deren Besitzer keine SMS-Nachrichten erhalten sollen, entweder weil sie auf Wunsch blockiert wurden oder weil sie sich abgemeldet haben. Telefonnummern werden automatisch zu dieser Liste hinzugefügt, wenn sich Nutzer über Kurzlink-Kampagnen-Abmeldeformulare vom Typ 2 („Abmeldung“) abmelden.\n\n* Fügen Sie Telefonnummern zur Sperrliste hinzu.\n* Fragen Sie gesperrte Telefonnummern ab.\n* Entfernen Sie Telefonnummern aus der Sperrliste.\n* Filtern Sie gesperrte Nummern nach Typ oder Nummer.\n\nDieser Endpunkt trägt dazu bei, die Einhaltung von SMS-Vorschriften und Benutzerpräferenzen sicherzustellen, indem er verhindert, dass Nachrichten an unerwünschte Empfänger gesendet werden."
    },
    {
      "name": "incomings",
      "x-displayName": "Eingehende Nachrichten",
      "description": "Diese Schnittstelle dient dazu Inbound SMS abzufragen (pull). Die Liste aller eingehenden SMS, sowie den Inhalt einer bestimmten SMS. Bitte beachten Sie aber, dass Sie die SMS auch als push erhalten können, sobald diese eingehen. Die [push Variante](https://doc.lox24.eu/#tag/inbound-and-reply-sms) ist zu bevorzugen, da Sie hier nicht auf eingehende SMS prüfen müssen, sondern diese direkt an Ihr Script gesendet bekommen.\n"
    },
    {
      "name": "groups",
      "x-displayName": "Gruppen",
      "description": "Die Funktion \"Groups\" ermöglicht es Ihnen SMS Verteiler für eine Massen-SMS anzulegen.\nJede Gruppe ist ein Verteiler welcher mehrere Nummern enthält. Mit den Funktionen können Sie Gruppen erstellen, ändern, einsehen oder löschen.\n"
    },
    {
      "name": "phones",
      "x-displayName": "Telefone",
      "description": "Diese Schnittstelle dient als Ergänzung zu Gruppen. Mit Hilfe von Telefonen können Sie Telefonnummern in Ihrer SMS-Verteilerliste hinzufügen, löschen oder ändern. Es ist auch möglich, den Inhalt einer Gruppe über diese Schnittstelle zu exportieren."
    },
    {
      "name": "campaigns",
      "x-displayName": "Kampagnen",
      "description": "Über die campaigns Schnittstelle können Sie eine Short-Link-Kampagne erstellen. Eine Short-Link-Kampagne dient dazu eine Short-Link zu erstellen, welchen Sie im Anschluss für den Einzel- und Massen-SMS Versand nutzen können.\nSie können über die Schnittstelle ebenfalls die bestehenden Short-Links abfragen und diese ändern oder löschen.\n"
    },
    {
      "name": "links",
      "x-displayName": "Links",
      "description": "Die Links Schnittstelle dient dazu die konkreten Short-Links einer oder aller Short-Link-Kampagne abzufragen.\n"
    },
    {
      "name": "requests",
      "x-displayName": "Anfragen",
      "description": "Über requests können Sie die Resultate Ihrer Short-Link-Kampagne auslesen. Sie können je nachdem, ob Sie eine SMS mit einfachem oder erweitertem Tracking versendet haben feststellen welche Rufnummern wie oft auf die Links in Ihren SMS geklickt haben. Über diese Schnittstelle ist es damit möglichen herauszufinden welche Empfänger oder welche SMS wie gut gelaufen sind.\n"
    },
    {
      "name": "click-rate",
      "x-displayName": "Klickrate",
      "description": "Mittels dieser Schnittstelle können Sie die Anzahl der Klicks Ihrer SMS-Sendungen messen.\n"
    },
    {
      "name": "user",
      "x-displayName": "Benutzer",
      "description": "User ist eine Hilfsschnittstelle, um z.B. den Kontostand bzw. die Kreditlinie abzufragen. Dies kann hilfreich sein, um zu bestimmen ob noch ausreichend Guthaben vorhanden ist, um weitere SMS zu versenden.\n"
    },
    {
      "name": "send-link",
      "x-displayName": "Link senden",
      "description": "### Wie man SMS mit Kurz-Links versendet\n\nLOX24 ermöglicht es Ihnen, lange URLs zu verkürzen, indem Sie sie automatisch durch kurze URLs mit unserer l24.pw Domain ersetzen.\n\nDamit lassen sich auch leistungsfähige Marketingkampagnen realisieren. So kann mit jeder SMS ein eindeutiger Kurzlink versendet werden. Damit können Sie **verfolgen, welcher Ihrer Kunden auf den Link geklickt hat**. Mit diesen Tracking-Daten können Sie gezielter mit Ihren Kunden interagieren und Ihre Kampagnen verbessern.\n\nAber das ist noch nicht alles! LOX24 bietet auch spezielle Kurzlinks an, die es dem Nutzer ermöglichen, sich **für Ihren SMS-Newsletter anzumelden oder abzumelden**. Dadurch können Sie das Double Opt-In und Opt-Out rechtssicher automatisieren.\n\n#### Wie man eine Kurzlink-Kampagne erstellt\n\nBitte lesen Sie das Kapitel [Erstellen einer Kurzlink-Kampagne](/#tag/campaigns/operation/api_short_link_campaigns_post_collection)\n\n***Es gibt zwei Arten von Kampagnen:***\n\n1. Einfach (Typ = 1). Ein einziger Kurzlink wird für alle SMS verwendet. Der Link ist kostenlos. Die Gesamtzahl der Klicks, die Klickrate und andere Daten werden gesammelt.\n2. Erweitert (Typ = 2). Es wird ein eindeutiger Kurzlink für jede SMS verwendet. So können Sie feststellen, welche Empfänger auf Ihren Link geklickt haben und welche nicht. Die Kosten für jeden Link betragen 0,005 €.\n\n#### Wie man einen Anmelde-Link für einen SMS-Verteiler erstellt\n\nBitte lesen Sie das Kapitel [Erstellen einer Anmeldeformular-Kampagne](/#tag/campaigns/operation/post_subscribe)\n\nEs wird eine spezielle Art von Kurzlink generiert, die den Benutzer zu einem Anmeldeformular auf unserer Website weiterleitet (white label). Sie müssen auch eine Gruppen-ID hinzufügen, um den SMS-Verteiler zu bestimmten. Zu dieser Gruppe werden die Telefonnummern der Nutzer, die das Anmeldeformular ausgefüllt haben, hinzugefügt.\n\n#### Wie man einen Abmelde-Link für einen SMS-Verteiler erstellt\n\nBitte lesen Sie das Kapitel [Erstellen einer Abmeldeformular-Kampagne](/#tag/campaigns/operation/post_unsubscribe)\n\nEin spezieller Kurzlink wird erstellt, die den Nutzer zu einem Abmeldeformular weiterleitet (white label). Sie können auch eine Gruppen-ID (SMS Verteiler) hinzufügen, aus der die Telefonnummern der Nutzer, die das Abmeldeformular abgeschickt haben, entfernt werden. Auch wenn die Gruppe bei der Abmeldung nicht aufgeführt ist, wird die Nummer des Benutzers zur Blacklist (Sperrliste) hinzugefügt.\n\n#### Wie versende ich eine SMS mit einem Kurzlink?\n\nBitte lesen Sie das Kapitel [SMS versenden](/#tag/sms/operation/api_sms_post_collection) oder [Bulk erstellen](/#tag/bulks/operation/api_bulks_post_collection) für die allgemeine Funktionsweise des SMS Versands.\n\nUm eine SMS mit einem kurzen Link zu versenden, müssen Sie den folgenden Platzhalter ```[slink campaing_id]``` in den Nachrichtentext einfügen, wobei ```campaing_id``` für der Wert der Kampagnen-ID steht. Diesen Wert erhalten Sie als Rückgabewert, wenn Sie eine Kurzlink-Kampagne erstellen. Natürlich können Sie den Wert auch für bestehende Kurzlink-Kampagnen abfragen. So würde zum Beispiel Ihr SMS-Text für eine Kurzlink-Kampagne mit der ID *eGxoGRMq* aussehen:\n\n```\nBitte prüfen Sie den Link [slink eGxoGRMq]\n```\n\nUnser System ersetzt den Wert des Platzhalters für jeden SMS-Empfänger durch den richtigen Link. Sie können auch den [SMS-Dryrun](/#tag/sms/operation/api_sms_post_dryrun_collection) verwenden, um vorab zu prüfen, wie der Text mit dem Link aussehen ungefähr aussehen wird und wie hoch der Endpreis der SMS sein wird.\n\n#### Wie man die Anzahl der Klicks überprüft\n\n***(Diese Information ist nur für Kampagnen mit dem Typ Advanced verfügbar)***\n\nDie Anzahl der Klicks auf eine einzelne SMS kann durch eine [SMS ID](/#tag/click-rate/operation/api_sms_clicks_per_message_get_collection) oder für alle SMS als [Liste](/#tag/click-rate/operation/api_sms_clicks_get_collection) ermittelt werden.\n\n#### Wie erhält man eine Liste aller Kurzlinks (je Kampagne)?\n\nSie können eine [vollständige Liste der Kurzlinks](/#tag/links/operation/api_short_links_get_collection) erhalten, die von allen Ihren Kampagnen oder [von einer bestimmten Kampagne](/#tag/links/operation/api_short_link_campaigns_short_links_get_item) erzeugt wurden.\n\n#### Wie man eine Liste von Benutzer-Interaktionen erhält\n\nEs gibt Endpunkte, die detaillierte Informationen über Benutzeranfragen liefern:\n\n- [vollständige Anfragenliste](/#tag/requests/operation/get_campaign_requests)\n- [per SMS](/#tag/requests/operation/get_sms_requests)\n- [per Massen-SMS](/#tag/requests/operation/get_bulk_requests)\n- [nach Kurzlink-Kampagne](/#tag/requests/operation/get_campaign_requests)\n- [nach Kurzlink](/#tag/requests/operation/get_short_links_requests)\n"
    },
    {
      "name": "fraud-detection",
      "x-displayName": "API zur Betrugserkennung",
      "description": "Die *Fraud Detection API* hilf dabei, verdächtige Anfragen an Ihren Dienst zu identifizieren. Die API erhält von Ihnen unter Einhaltung der in Europa **gültigen Datenschutzbestimmungen** Daten wie Telefonnummer, E-Mail und IP-Adresse Ihres potentiellen Kunden. Unser System prüft diese anhand von Datenbanken, Algorithmen und künstlicher Intelligenz. Die API gibt schließlich eine Bewertung über die Wahrscheinlichkeit bzw. das **Risiko eines Betrugs**. Das Risiko wird dabei gemessen als Betrugswahrscheinlichkeit **von 0 bis 100**, wobei  `0` eine kleine Betrugswahrscheinlichkeit (guter Risikowert) und `100` eine äußerst hohe Betrugswahrscheinlichkeit (schlechter Risikowert) darstellt.\n\nDer Dienst ermöglicht es Ihnen auch selber, jeden Teil der Anfrage separat zu prüfen, indem Sie z. B. nur die Telefondaten übergeben.\n\nNeben der Risikobewertung enthält die Antwort der Fraud Detection AP auch **zusätzliche Informationen**, die Ihnen bei Ihrer **eigenen Risikoeinschätzung** weiterhelfen:\n- über das Telefon:\n\t- Region\n\t- Art der Nummer (Mobiltelefon, VoIP, etc.)\n\t- gültiges Format\n\t- ob die Nummer überhaupt möglich ist\n- über die E-Mail:\n\t- ist eine solche E-Mail möglich\n\t- ist die Domäne der angegebenen E-Mail verdächtig\n- über die IP-Adresse\n\t- Region\n\t- Bundesland\n\t- Stadt\n\t- Postleitzahl\n\t- geografische Koordinaten\n\t- ISP\n\t- Risikobewertung des ISP\n\t- Typ des Proxyservers (falls verwendet)\n\t- Art der Verbindung\n- über die Anschrift\n    - Landescode (ISO 3166-1 alpha-2)\n    - Stadt\n    - Postleitzahl\n    - Straßename\n    - Hausnummer\n\nJe nach gewähltem Tarif 'direct' sind die Antwort und die Bearbeitungsgeschwindigkeit der Anfrage unterschiedlich. Economy Anfragen bieten sich z.B. für einen simplen Login an. Pro Anfragen für eine Neukundenanmeldung und Direkt Anfragen für einen Produktverkauf:\n- '**direkt**' - die Antwort enthält alle Detaildaten und die Anfrage wird in einer separaten Warteschlange mit **erhöhter Priorität** bearbeitet.\n\n\nDa das Scoring einige Zeit in Anspruch nimmt, wird die Anfrage im asynchronen Modus verarbeitet und nach der Verarbeitung sendet der Dienst die Anfragedaten im JSON-Format an die von Ihnen angegebene HTTP-URL oder E-Mail zurück. Diesen Wert können Sie im Web-Account unter Einstellungen und Benachrichtigungen festlegen (**Ereignisbenachrichtigungen**).\nSie können auch den Status der Anfrage anhand ihrer ID überprüfen, indem Sie eine Anfrage an die API senden. Wir empfehlen Ihnen jedoch dringend, das Benachrichtigungssystem (Webhook) zu verwenden, da der Dienst bei einer großen Anzahl von Anfragen Ihrerseits Ihre Anfragen blockieren könnte.\n"
    },
    {
      "name": "collection-filters",
      "x-displayName": "Filter und Sortieren",
      "description": "Die LOX24 API nutzt ein generisches Filter System um Inhalte zu filtern und  \nzu sortieren. Sie können in der jeweiligen Funktionsbeschreibung einsehen, welche\nFilter verfügbar sind.\n \n### Suchfilter\n\nDie API nutzt zwei Arten von Textfiltern:\n\n- ***partial*** wird genutzt um Inhalte zu finden bei denen die Zeichenkette im Textfeld enthalten ist\n- ***exact*** wird genutzt um Inhalte zu finden bei denen das Textfeld mit dem Suchwort übereinstimmt\n\n**Hinweis**: Suchfilter mit der exact Strategie, können mehrere Suchworte in der gleichen Anfrage enthalten (in diesem Fall ähnlich zu einer SQL IN Anfrage).\n\n#### Anwendungsbeispiel\n\nFinde SMS bei denen die Telefonnummer (`phone`) die Zahlen *\"4979\"* und der Text (`text`) die Zeichen *\"hello\"* enthält:\n\n```\ncurl -X GET https://api.lox24.eu/sms?phone=4979&text=hello \\\n  -H 'Host: api.lox24.eu' \\\n  -H 'X-LOX24-AUTH-TOKEN: e3f3a759b6677959b6ebfcxxxxxxxxxx' \\\n  -H 'X-LOX24-CLIENT-ID: 1234567' \n```\n\nFinde SMS mit dem Zielland (`iso2`) gleich 'DE' oder 'CH' und den `status_code` = 0\n\n```\ncurl -X GET https://api.lox24.eu/sms?iso2[]=DE&iso2[]=CH&status_code=0 \\\n  -H 'Host: api.lox24.eu' \\\n  -H 'X-LOX24-AUTH-TOKEN: e3f3a759b6677959b6ebfcxxxxxxxxxx' \\\n  -H 'X-LOX24-CLIENT-ID: 1234567' \n```\n\n### Boolescher Filter\n\nDer boolesche Filter erlaubt es, nach booleschen Feldern und Werten zu suchen.\n\n**Syntax**: ?property=<true|false|1|0>\n\nFinde SMS welche noch nicht ins Mobilfunknetz gesendet wurden: \n```\ncurl -X GET https://api.lox24.eu/sms?sent=0 \\\n  -H 'Host: api.lox24.eu' \\\n  -H 'X-LOX24-AUTH-TOKEN: e3f3a759b6677959b6ebfcxxxxxxxxxx' \\\n  -H 'X-LOX24-CLIENT-ID: 1234567' \n```\n\n### Exists filter\n\nThe exists filter allows to select items based on a nullable field value\n\n**Syntax**: ?exists[property]=<true|false|1|0>\n\nGet bulks which has property `is_unicode=null` (sms encoding auto-detection):\n```\ncurl -X GET https://api.lox24.eu/bulks?exists[is_unicode]=0 \\\n  -H 'Host: api.lox24.eu' \\\n  -H 'X-LOX24-AUTH-TOKEN: e3f3a759b6677959b6ebfcxxxxxxxxxx' \\\n  -H 'X-LOX24-CLIENT-ID: 1234567'\n```\n\n### Bereich Filter\n\nDer Bereichsfilter ermöglicht die Filterung nach einem Wert kleiner, größer, kleiner oder gleich, größer oder gleich und zwischen zwei Werten.\n\n**Syntax**: ?property[<lt|gt|lte|gte|between>]=value\n\n#### Anwendungsbeispiel\n\nFilter SMS welche erstellt wurden (`created_at`) zwischen 1575158400 (2019-12-01) und 1575676800 (2019-12-07): \n```\ncurl -X GET https://api.lox24.eu/sms?created_at[between]=1575158400..1575676800 \\\n  -H 'Host: api.lox24.eu' \\\n  -H 'X-LOX24-AUTH-TOKEN: e3f3a759b6677959b6ebfcxxxxxxxxxx' \\\n  -H 'X-LOX24-CLIENT-ID: 1234567' \n```\n\n\n\n### Sortierung\n\nDer Ordnungsfilter ermöglicht es Ihnen, eine Sammlung nach den vorgegebenen Eigenschaften zu sortieren. \nParameter: `_order`\n\n#### Anwendungsbeispiel\n\nSortieren Sie die SMS-Sammlung nach dem Feld 'created_at' in absteigender Reihenfolge: \n```\ncurl -X GET https://api.lox24.eu/sms?_order[created_at]=desc \\\n  -H 'Host: api.lox24.eu' \\\n  -H 'X-LOX24-AUTH-TOKEN: e3f3a759b6677959b6ebfcxxxxxxxxxx' \\\n  -H 'X-LOX24-CLIENT-ID: 1234567' \n```\n"
    },
    {
      "name": "sms-status-codes",
      "x-displayName": "SMS Status Codes",
      "description": "### Beschreibung der Status-Codes (`status_code`):\n\n|Status code|Beschreibung|\n|---|---|\n|0|Neu erstellte SMS|\n|100|Erfolgreich ins Netz übertragene SMS|\n|208|Die Zielnummer oder das Zielnetz sind gesperrt|\n|400|Die Nachricht konnte bedingt durch Wartungsarbeiten nicht verarbeitet werden|\n|410|Die Nachricht wurde vor der Übertragung ins Zielnetz gestoppt|\n|2000|Kein Zustellung ins Festnetz möglich|\n|3000|Nicht ausreichend Guthaben/Kreditlinie zur Übertragung vorhanden|\n|5000|Kein Netzbetreiber gefunden|\n|6000|Die Nachricht wurde vor der Übertragung ins Zielnetz gestoppt (via API)|\n"
    },
    {
      "name": "sms-delivery-report-codes-dlr",
      "x-displayName": "SMS Zustellberichte (DLR)",
      "description": "Für jede übermittelte SMS gibt es einen Zustellbericht (DLR). Es gibt zwei Wege diese Zustellberichte zu erhalten:\n\n1. push http: Wir senden die Zustellberichte über einen HTTP GET Request oder eine E-Mail (webhook) an Ihren Endpoint. Mehr Informationen unter [`Ereignisbenachrichtigungen`](/#tag/notifications)\n1. pull http: Sie fragen den DLR mittels des Endpoints [`GET /sms/{id}`](/#tag/sms/operation/api_sms_get_item) (id - SMS id) ab und prüfen den Parameter `dlr_code`\n\n### Beschreibung der Zustellberichte (Parameter `dlr_code`):\n\n| Status code | Beschreibung                                                 |\n| ----------- | ------------------------------------------------------------ |\n| 0           | NONE: Es liegt kein Zustellbericht vor                       |\n| 1           | DELIVERY_OK: Die Nachricht wurde erfolgreich auf dem Endgerät zugestellt |\n| 2           | DELIVERY_QUEUE: Die Nachricht wurde zwischengespeichert bis zur Zustellung |\n| 4           | DELIVERY_SUBMIT_ACK: Die Nachricht befindet sich in der Zustellung |\n| 8           | DELIVERY_EXPIRED: Die Nachricht konnte innerhalb eines spezifischen Zeitfensters nicht zugestellt werden. Die Zielrufnummer ist z.B. nicht im Netz registriert. |\n| 16          | DELIVERY_REJECTED: Die Nachricht wurde abgelehnt. Die Nummer kann ungültig sein oder Zielnummer oder Inhalt der SMS wurden vom Netzbetreiber blockiert. |\n"
    },
    {
      "name": "encoding-and-number-of-characters",
      "x-displayName": "Kodierung und Zeichenzahl",
      "description": "Grundsätzlich muss der SMS Text UTF-8 Encoded an den Gateway übertragen werden. \nSie haben dabei die Möglichkeit über den Parameter „encoding“ zu entscheiden, \nob Sie eine normale 7 bit oder UCS-2 SMS verschicken wollen.\n\n#### GSM 7 bit Standard-Zeichensatz (GSM 03.38)\nDas Basis Zeichensatz enthält alle Zeichen die bei einer normalen 7 bit SMS als 1 Zeichen übertragen werden können. Die Zeichen des erweiterten Zeichensatzes können ebenfalls übertragen werden, benötigen aber jeweils 2 Zeichen für die Übertragung. SMS welche mit dem GSM Zeichensatz übermittelt werden, können 160 Zeichen enthalten bzw. aus mehre-ren verketteten SMS mit jeweils 153 Zeichen bestehen.\n\n**Basic Character Set**\n\n||0x00|0x10|0x20|0x30|0x40|0x50|0x60|0x70|\n|---|---|---|---|---|---|---|---|---|\n|0x00|@|Δ|SP|0|¡|P|¿|p|\n|0x01|£|_|!|1|A|Q|a|q|\n|0x02|$|Φ|\"|2|B|R|b|r|\n|0x03|¥|Γ|#|3|C|S|c|s|\n|0x04|è|Λ|¤|4|D|T|d|t|\n|0x05|é|Ω|%|5|E|U|e|u|\n|0x06|ù|Π|&|6|F|V|f|v|\n|0x07|ì|Ψ|'|7|G|W|g|w|\n|0x08|ò|Σ|(|8|H|X|h|x|\n|0x09|Ç|Θ|)|9|I|Y|i|y|\n|0x0A|LF|Ξ|*|:|J|Z|j|z|\n|0x0B|Ø|ESC|+|;|K|Ä|k|ä|\n|0x0C|ø|Æ|,|<|L|Ö|l|ö|\n|0x0D|CR|æ|-|=|M|Ñ|m|ñ|\n|0x0E|Å|ß|.|>|N|Ü|n|ü|\n|0x0F|å|É|/|?|O|§|o|à|\n\n- LF ist ein Zeilenumbruch.\n- CR is a Carriage Return control, or filler.\n- ESC is an Escape control.\n- SP ist ein Leerzeichen.\n\n\n**Basic Character Set Extension**\n\n||0x00|0x10|0x20|0x30|0x40|0x50|0x60|0x70|\n|---|---|---|---|---|---|---|---|---|\n|0x00| | | | ||| | | \n|0x01| | | | | | | | |\n|0x02| | | | | | | | |\n|0x03| | | | | | | | |\n|0x04| |^| | | | | | |\n|0x05| | | | | | |€| |\n|0x06| | | | | | | | |\n|0x07| | | | | | | | |\n|0x08| | |{| | | | | |\n|0x09| | |}| | | | | |\n|0x0A|FF| | | | | | | |\n|0x0B| |SS2| | | | | | |\n|0x0C| | | |[| | | | |\n|0x0D|CR2| | |~| | | | |\n|0x0E| | | |]| | | | |\n|0x0F| | |\\| | | | | ||\n\n- FF is a Page Break control. If not recognized, it shall be treated like LF.\n- CR2 is a control character. No language specific character shall be \nencoded at this position.\n- SS2 is a second Single Shift Escape control reserved for future extensions.\n\n#### UCS-2 (Unicode SMS)\nMit UCS-2 können 1.112.064 Zeichen und damit alle verbreiteten Schriften \ndargestellt werden. Jedes Zeichen wird einfach berechnet, Unicode SMS \nkönnen pro SMS jedoch nur aus 70 Zeichen bestehen, bzw. aus mehreren \nverketteten SMS mit jeweils 67 Zeichen bestehen.\n\n#### Verkettete SMS (Concatenated SMS)\nAus technischen Gründen können mit einer GSM-SMS nur 160 Zeichen Text \n(Unicode 70 Zeichen Text) übertragen werden. Wenn Sie eine SMS mit mehr \nZeichen versenden, dann versenden Sie eine so genannte concatenated SMS. \nBei überlangen Kurzmitteilun-gen/Multi-SMS (Concatenated SMS, Long SMS), \nwerden längere Texte aufgeteilt und einzeln versendet und jeder einzelne \nTeil als separate Kurzmitteilung abgerechnet. Das Empfangsgerät setzt die\nTeile dann wieder zu einem zusammenhängenden Text zusammen. Damit dem Gerät\ndie Verknüpfung der SMS angezeigt werden kann, werden 7 Zeichen (bzw. 3 bei\nUnicode) benötigt, Ihnen stehen damit bei einer überlangen SMS nur noch 153\nZeichen (bzw. 67 bei Unicode) für Ihren Text zur Verfügung.\n\n"
    },
    {
      "name": "kannel",
      "x-displayName": "Kannel API (emulation)",
      "description": "# Einleitung\n\nIn dieser Anleitung zeigen wir Ihnen wie Sie unsere SMS API mit Ihrem Kannel Client nutzen können, um SMS über Kannel an uns zu schicken.\n\nWenn Sie bereits Kannel für Ihre SMPP Verbindungen nutzen, können Sie LOX24 ganz einfach als zusätzliche Anbindung hinzufügen. Es sind keine Änderungen an Kannel notwendig, lediglich die Konfiguration wird um LOX24 ergänzt.\n\nSupport: [berlin@lox24.eu](mailto:berlin@lox24.eu)\n\n# API Key\n\nUm mit Kannel SMS zu verschicken benötigen Sie den API-Key. In Ihrem [*Web-Account*](https://account.lox24.eu) erstellen Sie einen Schlüssel vom Typ \\'Kannel API\\'. Gehen Sie in die \"Einstellungen\" -> \"API Einstellungen\" und klicken Sie auf den Button \"API Key erstellen\". Der Name ist beliebig, als Version wählen Sie \"*Kannel API*\".\n\n![Account page and API key](/images/kannel/kannel-api-auth-key.png)\n\n# Konfiguration\n\nSie haben zwei Möglichkeiten SMS mit Kannel zu verschicken:\n\n-   wir senden die Zustellberichte (DLR) direk an Sie zurück\n-   wir senden die Zustellberichte (DLR) an Kannel zurück, was diese dann wie von Ihren SMPP Verbindungen gewohnt an Sie weiterleitet\n\n**Hinweis**: Mehr über die Zustellberichte (DLR) im Allgemeinen können Sie hier nachlesen:\n\n-   [Offizielle Kannel Dokumentation](https://www.kannel.com/download/1.4.5/userguide-1.4.5/userguide.html#delivery-reports)\n-   [LOX24 DLR Dokumentation](/#tag/sms-delivery-report-codes-dlr)\n\n\n## Zustellberichte direkt an Ihren Endpoint\n\nDie LOX24 API wird die Zustellberichte ohne Umweg über Kannel direkt an die von Ihnen hinterlegte URL oder Mail Adresse senden.\n\n![](/images/kannel/kannel_api_dlr.png)\n\nErgänzen Sie Ihre Kannel-Konfiguration wie folgt:\n\n  ```\n  group = smsc\n  smsc = http\n  system-type = kannel\n  smsc-id = \"lox24\"\n  allowed-smsc-id = \"lox24\"\n  port = 10443\n  send-url = \"https://lox24.eu/api/kannel/{SERVICE_CODE}.php\"\n  smsc-username = \"{USER_ID}\"\n  smsc-password = \"{API_KEY}\"\n  max-sms-octets = 1530\n  ```\n\n**Wobei**:\n\n-   *SERVICE_CODE* - der Name des SMS Typs in Kleinbuchstaben, z.B. '*text2speech*', '*direct*' etc.\n-   *USER_ID* - Ihre Account ID (Kunden-Nr.), identisch mit der ID für den Login unter account.lox24.eu\n-   *API_KEY* - der API Schlüssel vom Typ '*API Kannel*'. [*Hier*](/#tag/kannel/API-Key) Können Sie sehen wir Sie diesen erstellen.\n\n## Zustellberichte zurück an Kannel\n\nWir senden die Zustellberichte zurück an Kannel. Kannel leitet diese dann wie von Ihnen konfiguriert an Sie weiter.\n\n![](/images/kannel/kannel_api_dlr_chaining.png)\n\nErgänzen Sie Ihre Kannel-Konfiguration wie folgt:\n\n```\n  group = smsc\n  smsc = http\n  system-type = kannel\n  smsc-id = \"lox24\"\n  allowed-smsc-id = \"lox24\"\n  port = 10443\n  send-url = \"https://lox24.eu/api/kannel/{SERVICE_CODE}.php\"\n  smsc-username = \"{USER_ID}\"\n  smsc-password = \"{API_KEY}\"\n  dlr-url = \"http://youhosthere.com:10443/?username={USER_ID}&password={API_KEY}\"\n  connect-allow-ip = \"127.0.0.1;213.133.127.70;116.203.64.153;85.10.245.*\"\n  max-sms-octets = 1530\n```\n\n**Wobei**:\n\n-   *SERVICE_CODE* - der Name des SMS Typs in Kleinbuchstaben, z.B. '*text2speech*', '*direct*' etc.\n-   *USER_ID* - Ihre Account ID (Kunden-Nr.), identisch mit der ID für den Login unter account.lox24.eu\n-   *API_KEY* - der API Schlüssel vom Typ '*API Kannel*'. [*Hier*](/#tag/kannel/API-Key) Können Sie sehen wir Sie diesen erstellen.\n-   yourhostthere.com:10443 - Die Web-Adresse Ihres Kannel Clients ist.\n\n## Weitere Hinweise\n\n### LOX24 Zustellberichte\n\nFalls Sie in den API-Einstellungen einen API v2 Status URL/E-mail Endpoint im Web-Account konfiguriert haben, können Sie auf `dlr-url` verzichten und die Zustellberichte in der gleichen Form erhalten wie bei einer normalen SMS über unsere API v2. Mehr hierzu [*hier*](/#tag/sms-delivery-report-codes-dlr).\n\n![](/images/kannel/kannel_api_status_endpoint.png)\n\n### SMSC port\n\nIm Konfigurationsbeispiel haben wir den Port 10443 genutzt. Sie können aber jeden beliebigen Port nutzen. Wir empfehlen Ihnen Ihre Firewall entsprechend zu konfigurieren, um nur Anfragen des LOX24 SMS Servers zuzulassen (116.203.64.153,213.133.127.70,85.10.245.\\*).\n\n## Unterstützte Variablen DLR Url\n\nDie LOX24 Kannel API unterstüzt für die DLR Url die folgenden Variablen:\n\n-   ***%d*** - Kannel report type (integer):\n    -   1: Delivered to phone\n    -   2: Non-Delivered to Phone\n    -   4: Queued on SMSC\n    -   8: Delivered to SMSC\n    -   16: Non-Delivered to SMSC\n\n-   ***%q*** - Die international Rufnummer (E.164), welche die Nachricht erhält.\n\n-   ***%T*** - Die Uhrzeit des Zustellberichts als Unix Timestamp.\n\n**Hinweis:** Sie können weitere Variablen verwenden, wir garantieren aber nicht die ordnungsgemäße Funktionsweise.\n\n# Parameter\n\n## from\n\n*(required)*\n\nDie Absenderkennung der Nachricht kann eine Rufnummer mit bis zu 15 Ziffern oder einen Text mit bis zu 11 Zeichen enthalten. Im Fall einer Rufnummer als Absender, halten Sie sich bitte möglichst an das E.164 Format. Ein Text Absender kann Leerzeichen enhalten, aber keine anderen Sonderzeichen, Umlaute oder Satzzeichen. Bitte beachten Sie, dass der Absender nicht in jedem Zielland übertragen werden kann und teilweise die Registrierung einer Absenderkennung durch lokale Regulierung erforderlich ist.\n\n## to\n\n*(required)*\n\nZielrufnummer (international)\n\n## text\n\n*(required)*\n\nDer Nachrichtentext kann eine Länge von maximal 1530 Zeichen im GSM Standardzeichensatz enthalten. Mit einer Unicode SMS liegt die maximale Zeichenlänge bei 670 Zeichen. Das interne Encoding ist in beiden Fällen UTF-8.\n\n## coding\n\n*(optional)*\n\nSie können SMS mit dem Parameter '*coding*' verschicken:\n\n0 - GSM 03.38 (default),\n1 - 8-bit or\n2 - UCS-2 encoding.\n\n*Wir verarbeiten 8-bit und UCS-2 identisch als Unicode SMS.*\n\n## dlr-url\n\n*(optional)*\n\nGeben Sie eine URL an, an welche Sie die Zustellberichte von Kannel gesendet bekommen möchten. Falls Sie den Parameter nicht übergeben, nutzen wir den *API v2 DLR\nendpoint Ihrer API Konfiguration* (falls vorhanden).\n\n## deferred\n\n*(optional)*\n\nKönnen Sie nutzen, um die SMS zeitversetzt in der Zukunft zu verschicken. Die Angabe erfolgt in Minuten. Falls der Wert leer bleibt, wird die SMS sofort verschickt.\n\n## Beispiel request\n\nDieses Beispiel zeigt, wie Sie eine SMS an Ihre Kannel Installtion senden können. Die smsbox\nist in diesem Beispiel auf dem lokalen Server und Port 9001.\n\n[*http://127.0.0.1:9001/cgi-bin/sendsms?dlr-url=http://yourhost.com/dlr_test.php?status=%d%26time=%T%26q=%q%26customid=1234567&from=sender&password=test1&smsc=lox24&text=test%20message&to=+49751234567&username=test1&coding=0*](http://127.0.0.1:9001/cgi-bin/sendsms?dlr-url=http://yourhost.com/dlr_test.php?status=%d%26time=%T%26q=%q%26customid=1234567&from=sender&password=test1&smsc=lox24&text=test%20message&to=+49751234567&username=test1&coding=0)\n\n### Empfehlung\n\nErgänzen Sie die DLR url mit einem individuellen Parameter für Ihre eigene Message-ID, in unserem Beispiel ist dies  `customid` = 1234567.\n"
    },
    {
      "name": "notifications",
      "x-displayName": "Ereignisbenachrichtigungen",
      "description": "### Ereignisbenachrichtigungen\n\nDas Ereignisbenachrichtigungssystem dient als Ersatz für das veraltete System zur Übermittlung von Zustellberichten und eingehenden SMS (diese alten Systeme gelten als veraltet, werden nicht verbessert und werden nicht zur weiteren Verwendung empfohlen).\n\nMit dem Ereignisbenachrichtigungssystem können Sie Informationen über bestimmte Ereignisse an bestimmte URIs (http oder E-Mail) senden. Sie können das System so anpassen, dass Benachrichtigungen über ein Ereignis an verschiedene URIs gesendet werden. Sie können auch verschiedene Benachrichtigungen an die gleiche URI schicken.\n\nUm die Benachrichtigungen zu konfigurieren, öffnen Sie die Einstellungsseite in Ihrem Web-Account (account.lox24.eu -> Einstellungen -> Benachrichtigungen), klicken Sie auf \"Neuen Webhook erstellen\" und geben Sie im Feld URI die http-Adresse oder E-Mail ein, an die Sie Benachrichtigungen erhalten möchten. Standardmäßig werden alle möglichen Ereignisse an die angegebene URI gesendet. Wenn Sie nur über bestimmte Ereignisse benachrichtigt werden möchten, markieren Sie das Kästchen neben den Ereignissen, über die Sie benachrichtigt werden möchten.\n\nWenn Sie zusätzliche Benachrichtigungen wünschen, wiederholen Sie die obige Vorgehensweise. Es können maximal fünf individuelle Benachrichtigungseinstellungen erstellt werden.\n\nDie Ereignisinformationen werden im JSON-Objektformat übermittelt, das für alle Ereignisse das gleiche Format hat und sich nur in den Daten des Ereignisses selbst unterscheidet.\n\n#### Struktur des Ereignisobjekts\n\n| Feld                  | Typ                | Beschreibung                                  |\n|-----------------------|--------------------|-----------------------------------------------|\n| id                    | string (36 chars)  | Ereignis ID                                   |\n| api_version           | string             | Version der Datenstruktur                     |\n| name                  | string             | Ereignis Name, e.g. 'sms.delivery'            |\n| created_at            | integer            | Unix timestamp des Ereignisses                |\n| attempt_total         | integer            | Gesamtzahl der Übertragungsvesuche (re-tries).|\n| attempt_number        | integer            | Aktueller Übertragungsversuch                 |\n| data                  | object             | Ereignisdaten (siehe Liste der Ereignisse)    |\n| notification_task_id  | string (36 chars)  | ID des Übertragungsversuchs                   |\n\n\n##### Beispielereignis\n\n```json\n{\n    \"id\": \"a3cd6e19-8af2-498d-ad07-c7840f1b4ac8\",\n    \"data\": {\n        \"id\": \"d6c12ac4-cc7d-11ec-b6da-525400bbb7dc\",\n        \"key_id\": 8207,\n        \"dlr_code\": 1,\n        \"status_code\": 100,\n        \"callback_data\": \"some data from user's request here\"\n    },\n    \"name\": \"sms.delivery\",\n    \"created_at\": 1653378603,\n    \"api_version\": \"2022-05-25\",\n    \"attempt_number\": 1,\n    \"attempts_total\": 4,\n  \t\"notification_task_id\": \"3378de83-de66-4de8-9d29-2b10d41bb641\"\n}\n```\n\n#### Ereignis-Transportarten\n\nDas Benachrichtigungssystem kann Ereignisinformationen auf zwei Arten senden: HTTPS und E-Mail.\n\n##### HTTP\n\nDas json wird als Body der http-Anfrage mit der Kopfzeile ```Content-Type: application/json``` gesendet.\nDer Dienst wird weiterhin versuchen, die Anfrage zu senden (in zunehmenden Zeitabständen), bis er eine Antwort mit einem Statuscode >= 200 und < 300 erhält oder die Anzahl der Versuche den im Feld `attempt_number` angegebenen Wert erreicht.\n\n**HINWEIS**: Die Antwort Ihres Endpunkt-Skripts wird nicht berücksichtigt, daher müssen Sie Ihr Skript überwachen. Im Falle von Störungen erfolgt keine Benachrichtigung durch uns.\n\n##### E-Mail\n\nDas json wird als Body der E-Mail mit einem einzigen Versuch von einer E-Mail `no-reply@lox24.eu` gesendet.\n\n##### Hosts und IP-Adressen des Dienstes\n\nWarnmeldungen werden von den folgenden Hosts gesendet: `162.55.80.140` und `162.55.80.141`. Wenn Sie eine Firewall verwenden, vergessen Sie nicht, diese IP-Adressen auf die Whitelist zu setzen.\n\n#### Ereignisliste\n\n- [sms.delivery](/#tag/sms/operation/webhooks.sms-delivery-webhook)\n- [sms.delivery.dryrun](/#tag/sms/operation/webhooks.sms-delivery-dryrun-webhook)\n- [sms.incoming](/#tag/sms/operation/webhooks.sms-incoming-webhook)\n- [sms.email.parsing.success](/#tag/sms/operation/webhooks.sms-email-parsing-success)\n- [sms.email.parsing.fail](/#tag/sms/operation/webhooks.sms-email-parsing-fail)\n- [bulk.email.parsing.success](/#tag/sms/operation/webhooks.bulk-email-parsing-success-webhook)\n- [bulk.email.parsing.fail](/#tag/sms/operation/webhooks.bulk-email-parsing-fail-webhook)\n- [fraud-check.done](/#tag/sms/operation/webhooks.fraud-check-done-webhook)"
    },
    {
      "name": "inbound-and-reply-sms",
      "x-displayName": "Inbound SMS und Antwort-SMS",
      "description": "### Inbound SMS und Antwort SMS:\n\nSie können eingehende SMS (mobile originated - SMS-MO) per Push auf ein Script auf Ihrem Web-Server gesendet bekommen. Eingehende SMS können Sie für Ihre individuelle Inbound Rufnummer erhalten. Sie können diese im Web-Account unter Einstellungen und Inbound Nummer bestellen. Ebenfalls können Sie kostenlos Antworten auf nach Deutschland verschickte Economy SMS erhalten.\n\nSie können für jede Rufnummer einen individuellen Endpoint (HTTPS oder Mail) angeben. Alternativ können Sie auch alle eingehenden Nachrichten mittels unseres [Ereignisbenachrichtigungsdienstes](/#tag/notifications) erhalten.\n\nPush-Service bedeutet, dass unser Gateway Daten an ein Skript auf Ihrem Webspace überträgt. Bei Rückgabe eines HTTP Status Codes < `200` or >= `300`, wird unser System automatisch drei weitere Zustellversuche unternehmen.  Die Antwort Ihres Skripts wird nicht berücksichtigt, daher müssen Sie Ihr Skript überwachen. Im Falle von Störungen erfolgt keine Benachrichtigung durch uns. Die URL für alle Push-Dienste können Sie in Ihrem LOX24-Webaccount  (Einstellungen -> API Einstellungen) eingeben. Alternativ können Sie die Push-Dienste auch per normaler E-Mail erhalten.\n\nInbound SMS werden als HTTP GET mit den Parametern `sender_id` für die Rufnummer des Absenders, `text` für den Nachrichtentext und `time` als Unixtimestamp für die Uhrzeit des SMS Eingangs. Bei den Antwort-SMS auf Economy SMS erhalten Sie außerdem  `uuid`  zur Zurodnung zur ursprünglich versendeten SMS. Bei einer Inbound Rufnummer erhalten Sie mit `phone` die Inbound Rufnummer und mit `id` die ID der eingehenden SMS.\n\nInbound SMS per Mail enthält ein JSON Objekt mit den gleichen Parametern.\n\n| Parameter | Typ     | Beschreibung                                                 |\n| --------- | ------- | ------------------------------------------------------------ |\n| id        | integer | Identifikations-ID für Inbound-SMS (nicht bei Economy Antwort-SMS) |\n| phone     | string  | Rufnummer der Inbound Rufnummer (nicht bei Economy Antwort-SMS) |\n| sender_id | string  | Absenderrufnummer der eingehenden SMS                        |\n| text      | string  | Nachrichtentext                                              |\n| time      | integer | Uhrzeit zu der die SMS bei LOX24 eingegangen ist             |\n| uuid      | UUID    | Zuordnung zur ursprünglich versendeten SMS (optional) |\n"
    },
    {
      "name": "ssml-language-detection",
      "x-displayName": "SSML und Spracherkennung",
      "description": "### Spracherkennung\n\nDie Sprache Ihrer Nachricht wird automatisch erkannt wenn der Wert ```voice_lang``` ist ```null```. Es gelten folgende Regeln:\n\n#### Deutsch (DE)\n\nWenn keine Standardsprache definiert ist und die Zielrufnummer mit folgender Vorwahl beginnt, senden wir die SMS in Deutsch: \n'+49', '+41', '+43', '+79'.\n\n#### Spanisch (ES)\n\nWenn keine Standardsprache definiert ist und die Zielrufnummer mit folgender Vorwahl beginnt, senden wir die SMS in Spanisch:\n'+52', '+57', '+34', '+54', '+51', '+58', '+56', '+593', \n'+502', '+53', '+591', '+504', '+595',\n'+503', '+505', '+506', '+507', '+598', '+240'.\n\n### SSML Support\n\nDie API unterstützt jetzt einige Funktionen von [SSML (Speech Synthesis Markup Language)] (https://en.wikipedia.org/wiki/Speech_Synthesis_Markup_Language) für die erweiterte Formatierung von Sprachnachrichten.\n\n#### Unterstützte Funktionen\n\n##### Verfügbare Tags\n- `<break>` - Pausen in die Ansage einfügen\n- `<say-as>` - Aussprache des Textes kontrollieren\n\n#### Tag Spezifikationen\n\n##### `<break>` Tag\n- **Zweck**: Pausen zwischen Wörtern oder Sätzen einfügen\n- **Attribute**: `time` (z. B. „1s“, „500ms“)\n- **Preisgestaltung**: 1 Sekunde Pause entspricht 2 Zeichen für die Rechnungsstellung\n\n##### `<say-as>` Tag\n- **Zweck**: Kontrollieren, wie der Text interpretiert und gesprochen wird\n- **Attribute**:\n  - `interpret-as=\"characters\"` - Text Buchstabe für Buchstabe buchstabieren\n- **Hinweis**: Derzeit wird nur der Wert \"characters\" unterstützt.\n\n#### Usage\n\nUmschließen Sie den Inhalt Ihrer Nachricht mit dem `<speak>` Root-Element:\n\n```xml\n<speak>\n  Your verification code is <say-as interpret-as=\"characters\">A1B2C3</say-as>.\n  <break time=\"1s\"/>\n  Please enter it now.\n</speak>"
    },
    {
      "name": "email-to-sms",
      "x-displayName": "Email to SMS",
      "description": "### SMS per E-Mail\n\nSie können SMS-Nachrichten auf zwei verschiedene Arten per E-Mail versenden: Sie können eine einzelne SMS an eine bestimmte Telefonnummer senden oder eine SMS an eine Gruppe von Telefonnummern senden.\n\n#### Mail2SMS an einzelne Nummer\n\nUm eine einzelne SMS zu versenden, sollte die E-Mail wie folgt formatiert werden:\n\n```\n{{user_id}}.{{api_key}}.{{phone}}.{{service_code}}.{{sender_id}}.{{text_source}}.{{encoding}}.{{max_sms_parts}}@mail2sms.lox24.eu\n```\n\n#### Mail2SMS an mehrere Rufnummern (Gruppen-SMS)\n\nUm eine SMS an Telefonnummern einer bestimmten Gruppe zu senden, verwenden Sie das folgende Format:\n\n```\n{{user_id}}.{{api_key}}.{{group_id}}.{{service_code}}.{{sender_id}}.{{text_source}}.{{encoding}}.{{max_sms_parts}}@email2bulk.lox24.eu\n```\n\n##### Parameter:\n\n| Nr.| Name| Beschreibung                                                                                                                                   |\n|-------|---------------|-------------------------------------------------------------------------------------------------------------------------------------------------|\n| 1     | user_id       | User ID (Ganzzahl), identisch mit der Benutzeranmeldung bei LOX24                                                                                                                                        |\n| 2     | api_key       | \"Email2SMS\"-API-Schlüssel von der API-Schlüssel-Einstellungsseite (\"Einstellungen\" -> \"API-Einstellungen\")                                                                      |\n| 3     | phone/group_id| Bei Einzel-SMS ist dies die Telefonnummer im E.164-Format ohne führendes \"+\" (z. B. \"491701234567\"). Bei Gruppen-SMS ist dies die Gruppen-ID, die Sie in Ihrem Web-Konto finden oder über die API abfragen können.                 |\n| 4     | service_code  | Servicecode 'text2speech' oder 'direkt' (Standard).                                                                                                  |\n| 5     | sender_id     | Absender-ID: eine ganze Zahl von 1 bis 6 (Standardwert 1). Auswahl des Absenders aus den zuvor im Konto gespeicherten Absendern (\"Einstellungen\" -> \"Absenderkennungen\") Wenn die Absender-ID nicht gefunden wurde, ist der Standardwert \"email2sms\".                 |\n| 6     | text_source   | Textquelle: 0 - Betreff und Haupttext (standardmäßig), 1 - nur Betreff, 2 - nur Haupttext                                                                              |\n| 7     | encoding      | Eine ganze Zahl: 0 - normales GSM (Standard), 1 - Unicode, 2 - automatische Erkennung (anhand des gesamten Textes der Anfrage)                                           |\n| 8     | max_sms_parts | Eine ganze Zahl zwischen 1 und 10. Standardwert ist 1. Es gibt eine Begrenzung der Textlänge beim Verarbeiten der E-Mail. Zusätzliche Zeichen werden für die Verkettung in Nachrichten verwendet, die länger als die Standardgrenzen sind. |\n\n#### Mail2SMS Beispiele\n\n##### Gruppen SMS Beispiele\n\n**Senden von SMS an Telefone mit einer Gruppen-ID = 12345 (Mindestparameter)**\n\n```\n1234567.e3f3a759b6677959b6ebfcxxxxxxxxxx.12345@email2bulk.lox24.eu\n```\n\n**SMS an Telefone mit einer Gruppen-ID = 12345 mit dem Dienst 'direct' senden**\n\n```\n1234567.e3f3a759b6677959b6ebfcxxxxxxxxxx.12345.direct@email2bulk.lox24.eu\n```\n\n**Senden Sie SMS an Telefone mit der Gruppennummer 12345 mit dem Dienst 'direct' und der Absenderkennung 2**\n\n```\n1234567.e3f3a759b6677959b6ebfcxxxxxxxxxx.12345.direct.2@email2bulk.lox24.eu\n```\n\n**Senden Sie SMS an Telefone mit der Gruppennummer 12345 mit dem Dienst 'direct', mit der Absenderkennung 2 und dem Text im Betreff der E-Mail.**\n\n```\n1234567.e3f3a759b6677959b6ebfcxxxxxxxxxx.12345.direct.2.1@email2bulk.lox24.eu\n```\n\n**Senden von SMS an Telefone mit einer Gruppen-ID = 12345 mit dem Dienst 'direct', mit Absender-ID = 2, mit Text aus dem Betreff der E-Mail und automatischer Erkennung der Kodierung**\n\n```\n1234567.e3f3a759b6677959b6ebfcxxxxxxxxxx.12345.direct.2.1.2@email2bulk.lox24.eu\n```\n\n##### Einzel SMS Beispiele\n\n**SMS an eine einzelne Telefonnummer senden \"+1234567890\" (Mindestparameter)**\n\n```\n1234567.e3f3a759b6677959b6ebfcxxxxxxxxxx.1234567890@mail2sms.lox24.eu\n```\n\n**SMS an eine einzelne Telefonnummer \"+1234567890\" mit dem Dienst 'direct' senden**\n\n```\n1234567.e3f3a759b6677959b6ebfcxxxxxxxxxx.1234567890.direct@mail2sms.lox24.eu\n```\n\n**Senden Sie eine SMS an eine einzelne Rufnummer \"+1234567890\" mit dem Dienst 'direct' und der Absenderkennung = 2**\n\n```\n1234567.e3f3a759b6677959b6ebfcxxxxxxxxxx.1234567890.direct.2@mail2sms.lox24.eu\n```\n\n**Senden Sie eine SMS an eine einzelne Telefonnummer \"+1234567890\" mit dem Dienst 'direct', mit der Absenderkennung = 2, und dem Text aus dem Betreff der E-Mail**\n\n```\n1234567.e3f3a759b6677959b6ebfcxxxxxxxxxx.1234567890.direct.2.1@mail2sms.lox24.eu\n```\n\n**Senden von SMS an eine einzelne Telefonnummer \"+1234567890\" mit dem Dienst 'direct', mit Absender-ID = 2, mit Text aus dem Betreff der E-Mail und automatischer Erkennung der Kodierung**\n\n```\n1234567.e3f3a759b6677959b6ebfcxxxxxxxxxx.1234567890.direct.2.1.2@mail2sms.lox24.eu\n```\n\n#### Fehlerantworten\n\n\nDie meisten Fehler werden ignoriert, um eine unerwünschte Überflutung zu vermeiden, einschließlich authentifizierungsbezogener Fehler. Bei einigen Fehlern sendet das System jedoch eine JSON-Antwort mit einer Fehlerbeschreibung.\n\n**Error JSON**\n\n| Name| Beschreibung|\n|-------------|---------------------------------------------|\n| field       | Fehlerfeld in der Anfrage                      |\n| description | Fehlerbeschreibung                           |\n| request     | EMail-Adresse, an die die Anfrage gesendet wurde |\n\n##### Beispiel\n{\"field\":\"group_id\",\"description\":\"Group with id = 12345 was not found!\",\"request\":\"1234567.e3f3a759b6677959b6ebfcxxxxxxxxxx.12345.direct@email2bulk.lox24.eu\"}\n\n#### Warnung vor E-Mail-Weiterleitung\n\nBitte beachten Sie, dass die Mail Schnittstelle nicht mit Weiterleitungen funktioniert. Die Mail muss direkt an den Mail2SMS Gateway gesendet werden."
    },
    {
      "name": "release-notes",
      "x-displayName": "Release notes",
      "description": "In den Versionshinweisen erfahren Sie, was in der API neu ist. Wie immer begrüßen wir Ihr [Feedback](berlin@lox24.eu).\n\n### 2.22 (2025-09-15)\n\n#### Hinzugefügt\n\n- Neue Webhook-Ereignisse für die Verwaltung von Telefon-Abonnements: `phone.subscribe` und `phone.unsubscribe`\n- Unterstützung für IP-Adressen v6 für den Endpunkt `POST /fraud-checks` hinzugefügt\n\n### 2.21 (2025-09-10)\n\n#### Hinzugefügt\n\n- Neuer Endpunkt: `/blocked_numbers`: Es wurde eine spezielle REST-API zum Verwalten gesperrter Telefonnummern in SMS-Kampagnen hinzugefügt. Der Endpunkt bietet vollständige CRUD-Funktionalität zum Verwalten einer zentralen Sperrliste mit Telefonnummern, die keine SMS-Nachrichten erhalten sollen.\n\n### 2.20 (2025-08-20)\n\n#### Hinzugefügt\n\n- Antwort-Header – Alle API-Antworten enthalten nun einen eindeutigen `X-LOX24-REQUEST-ID`-Header für Support- und Tracking-Zwecke.\n\n### 2.19 (2025-08-15)\n\n#### Geändert\n\n- OpenAPI-Spezifikation reorganisiert - Wichtige Umstrukturierung mit mehreren semantischen Fehlern behoben\n- Rendering der Dokumentation - Dynamisches OpenAPI-JSON-Browser-Rendering wurde durch statische kompilierte HTML-Seiten ersetzt\n\n#### Hinzugefügt\n\n- Webhooks-Dokumentation - Umfassende Beschreibung der Webhooks und Details zur Implementierung hinzugefügt\n- Neue Webhook-Ereignisse für E-Mail zu SMS Parsing: `sms.email.parsing.success` und `sms.email.parsing.fail`\n\n### 2.18 (2023-10-03)\n\n#### Neu\n\n- Hinzugefügt [Einzelne E-Mail2SMS](/#tag/email-to-sms)\n\n### 2.17 (2023-06-28)\n\n#### Neu\n\n- SMS und SMS Bulk Eigenschaft `is_text_deleted` für den Endpoint [Simulate sending an SMS (for testing)](/#tag/sms/operation/api_sms_post_collection) and [Create the Bulk](/#tag/bulks/operation/api_bulks_get_collection)\n- [Email2Bulk's property `max_sms_parts` of endpoint](/#tag/email-to-sms)\n- Ereignisbenachrichtigungen für `bulk.email.parsing.success` und `bulk.email.parsing.fail`\n- Hinzugefügt globaler Parameter is_text_deleted zu `GET /me` Abfragen.\n\n### 2.16 (2023-01-09)\n\n#### Neu\n\n- Filter nach `callback_data` Werten an [Retrieves the collection of SMS](/#tag/sms/operation/api_sms_get_collection) API\n\n\n### 2.15 (2022-10-25)\n\n#### Neu\n\n- Hinzugefügt Adresse für [Fraud Detection API](/#tag/fraud-detection)\n\n### 2.14 (2022-08-17)\n\n#### Neu\n\n- Phone's read-only Eigenschaften `subscribed_at`, `unsubscribed_at` und `unsubscribed_reason` hinzugefügt (\n  siehe [Phone API](/#tag/phones/operation/api_phones_get_item))\n\n### 2.13 (2022-08-01)\n\n#### Neu\n\n- Hinzugefügt [Fraud Detection API](/#tag/fraud-detection)\n\n### 2.12 (2022-05-05)\n\n#### Neu\n\n- Hinzugefügt [Email to SMS Bulk feature](/#tag/email-to-sms)\n\n### 2.11 (2022-03-31)\n\n#### New\n\n- Added the short links functionality\n    - [Short link campaigns](/#tag/campaigns)\n    - [Short links lists](/#tag/links)\n    - [Requests by short links](/#tag/requests)\n    - [Click rates statistics](/#tag/click-rate)\n\n### 2.10 (2021-09-23)\n\n#### Neu\n\n- Neue Funktion zum Löschen von SMS aus dem Posteingang [Delete the Incoming SMS](#tag/incomings/operation/api_incomings_delete_item)\n\n#### Fixes\n\n- Die Liste der eingehenden SMS ist standardmäßig nach absteigenden Werten des Feldes ```received_at``` geordnet.\n\n### 2.9 (2021-05-06)\n\n#### Neu\n\n- Es wurde die Möglichkeit hinzugefügt, sich mit der neuen Version des API-Schlüssels mit einem einzigen\n  Header ```X-LOX24-AUTH-TOKEN`` zu authentifizieren. Der Header ```X-LOX24-AUTH-CLIENT-ID``` ist veraltet und wird\n  nicht mehr empfohlen.\n\n### 2.8.1 (2021-04-01)\n\n#### Neu\n\n- Sprachnachrichten. Die Eigenschaft ```voice_lang``` wurde zu SMS und Bulk Anfrage/Antwort Objekten hinzugefügt.\n\n### 2.8.0 (2021-02-21)\n\n#### New\n\n- Temporäre Sperrung von IPs mit falschen Anmeldedaten.\n\n### 2.7.1 (2021-02-16)\n\n#### Fixes\n\n- Korrigierte Beschreibung in [Create the Bulk](/#tag/bulks/operation/api_bulks_get_collection)\n  und [Simulate creating a Bulk (for testing)](/#tag/bulks/operation/api_bulks_post_dryrun_collection)\n\n### 2.7 (2020-07-17)\n\n#### New\n\n- [Neue Schnittstelle für Kannel](/#tag/kannel) (https://lox24.eu/api/kannel/{service}.php).\n\nKannel (https://lox24.eu/api/kannel/{service}}).\n\n### 2.6 (2020-06-23)\n\n#### New\n\n- Neue Funktion SMS mit zusätzlichen Daten zu versenden welche an den Endpoint der Zustellberichte zurückgegeben werden.\n\n### 2.5 (2020-06-10)\n\n#### Developer\n\n- Hinzugefügt Beispielcode für Phones und Groups.\n\n### 2.4 (2020-05-29)\n\n#### Developer\n\n- Hinzugefügt Beispielcode in GoLang, Java und Python.\n\n### 2.3 (2020-05-25)\n\n#### New\n\n- Neuer boolean Filter für Abfrage der Massen-SMS  `GET /bulks` nach der Eigenschaft `is_dryrun`.\n- Neuer Wert für den Zeitstempel der letzten Änderung des Kontostands `balance_changed_at` für den Endpoint `GET /me`.\n\n### 2.2 (2020-04-24)\n\n#### Neu\n\n- Neue Endpoints `GET /incomings` und `GET /incomings/{id}` um alle Inbound SMS und Antworten abzufragen.\n- Emulation DLR Zustellberichte webhook mittels `POST /sms/dryrun`.\n- Neuer *exact* Filter nach `key_id` bei `GET /bulks` und `GET /sms`.\n\n#### Developer\n\n- Neue Beispiele in PHP, C# and Javascript für `/sms`, `/bulks` und `/incomings` Endpoints.\n- Neuer Abschnitt [Inbound SMS and Reply-SMS](/#tag/inbound-and-reply-sms) für eingehende SMS (SMS-MO).\n\n#### Fixed\n\n- Fehler bei der Speicherung der IP-Adresse, des Datums und der Uhrzeit der letzten API-Schlüsselverwendung behoben\n\n### 2.1 (2020-03-18)\n\n#### Neu\n\n- Die Funktion, die Ihnen hilft, [bulk sms](/#tag/bulks) in nur einer HTTP-Anfrage zu erstellen:\n    - mit personalisierten Text aus Daten der Massen-SMS Gruppe\n    - mit Vorabberechnung der SMS Kosten\n    - schnelle asynchrone Bearbeitung Ihrer Sendung\n    - Möglichkeit die Sendung auch während der Verarbeitung noch abzubrechen\n- Neuer Endpoibt POST /groups/{id}/phones/batch\n    - mehrere Rufnummern einer Gruppe gleichzeitig hinzufügen POST /groups/{id}/phones\n- Neuer Filter `GET /sms` nach dem Parameter `bulk`\n- Neuer Filter `GET /bulks` nach dem Parameter `source`\n- API-Schlüssel-ID-Informationen zu den Antworten `sms` und `bulks` hinzugefügt\n\n#### Fixed\n\n- Eigenschaft `Preis` zum SMS-Antwortobjekt hinzugefügt\n- Beschreibung der Berechtigungsparameter in der API-Dokumentation\n\n### 2.0-beta (2019-12-15)\n\n#### Neu\n\n- API v2.0 wurde in Übereinstimmung mit Industriestandards entwickelt, um die Integration so einfach wie möglich zu\n  gestalten. Darüber hinaus können Sie jetzt mit einer einzigen Abfrage große Mengen an SMS versenden und jederzeit\n  detaillierte Informationen über die Nachrichten abrufen.\n\n- Die umfangreiche Gruppenfunktionalität ermöglicht es Ihnen, Ihre Mailinglisten in unserer Hochleistungs-Cloud zu\n  verwalten und damit eigene Ressourcen zu sparen. All dies ist nach wie vor konform mit den europäischen\n  Datenschutzstandards und dem deutschen Telekommunikationsgesetz.\n\n#### Developer\n\nSie finden die neue API-Beschreibung unter https://doc.lox24.eu/\n"
    }
  ],
  "paths": {
    "/bulks": {
      "get": {
        "operationId": "api_bulks_get_collection",
        "tags": [
          "bulks"
        ],
        "responses": {
          "200": {
            "description": "bulks collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/schema.bulks.jsonld-bulk_read_status"
                      }
                    },
                    "hydra:totalItems": {
                      "$ref": "#/components/schemas/hydra.totalItems"
                    },
                    "hydra:view": {
                      "$ref": "#/components/schemas/hydra.view"
                    },
                    "hydra:search": {
                      "$ref": "#/components/schemas/hydra.search"
                    }
                  },
                  "required": [
                    "hydra:member"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/schema.bulks-bulk_read_status"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-forbidden"
          },
          "429": {
            "$ref": "#/components/responses/429-too-many-requests"
          }
        },
        "summary": "Massen-SMS (Bulk) Sendungen anzeigen",
        "description": "Gibt die Übersicht aller Massen-SMS Kampagnen zurück. Geordnet nach dem Feld `created_at` in absteigender Reihenfolge. Das Postfach enthält alle gesendeten, nicht gesendeten und abgebrochenen SMS.  Optional können Sie auch nach dem Preis oder dem Zeitpunkt der Übermittlung an den Netzbetreiber sortieren. Sie haben auch die Möglichkeit, verschiedene Suchkriterien zu übertragen, um die Ausgabe der Nachrichten des Postfachs einzuschränken.",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter.common.page"
          },
          {
            "$ref": "#/components/parameters/order.common.created_at"
          },
          {
            "$ref": "#/components/parameters/order.messages.delivery_at"
          },
          {
            "$ref": "#/components/parameters/order.common.processed_at"
          },
          {
            "$ref": "#/components/parameters/order.bulks.msg_total_count"
          },
          {
            "$ref": "#/components/parameters/filter.messages.text.partial"
          },
          {
            "$ref": "#/components/parameters/filter.messages.sender_id.partial"
          },
          {
            "$ref": "#/components/parameters/filter.bulks.status_code.exact"
          },
          {
            "$ref": "#/components/parameters/filter.bulks.status_code.array"
          },
          {
            "$ref": "#/components/parameters/filter.common.created_at.exact"
          },
          {
            "$ref": "#/components/parameters/filter.common.created_at.array"
          },
          {
            "$ref": "#/components/parameters/filter.messages.delivery_at.exact"
          },
          {
            "$ref": "#/components/parameters/filter.messages.delivery_at.array"
          },
          {
            "$ref": "#/components/parameters/filter.common.processed_at.exact"
          },
          {
            "$ref": "#/components/parameters/filter.common.processed_at.array"
          },
          {
            "$ref": "#/components/parameters/filter.bulks.msg_total_count.exact"
          },
          {
            "$ref": "#/components/parameters/filter.bulks.msg_total_count.array"
          },
          {
            "$ref": "#/components/parameters/filter.messages.source.exact"
          },
          {
            "$ref": "#/components/parameters/filter.messages.source.array"
          },
          {
            "$ref": "#/components/parameters/filter.common.key_id.exact"
          },
          {
            "$ref": "#/components/parameters/filter.common.key_id.array"
          },
          {
            "$ref": "#/components/parameters/filter.messages.is_unicode.boolean"
          },
          {
            "$ref": "#/components/parameters/filter.messages.is_dryrun.boolean"
          },
          {
            "$ref": "#/components/parameters/filter.messages.is_unicode.exists"
          }
        ],
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "Bash",
            "source": "#!/usr/bin/env bash\ncurl -X GET https://api.lox24.eu/bulks \\\n  -H 'X-LOX24-AUTH-TOKEN: 1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx'\n"
          },
          {
            "lang": "C#",
            "source": "using Newtonsoft.Json.Linq;\nusing System;\nusing System.IO;\nusing System.Net;\nusing System.Text;\n\nnamespace Lox24.Api\n{\n    class client\n    {\n        static void Main()\n        {\n            string key = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\";\n            string url = \"https://api.lox24.eu/bulks?_order[created_at]=desc\";\n\n            var httpWebRequest = (HttpWebRequest)WebRequest.Create(url);\n            httpWebRequest.ReadWriteTimeout = 100000;\n            httpWebRequest.Accept = \"application/json\"; // or \"application/ld+json\"\n            httpWebRequest.Method = \"GET\";\n            //httpWebRequest.KeepAlive = true;\n            httpWebRequest.Headers.Add(\"X-LOX24-AUTH-TOKEN\", key);\n            httpWebRequest.Credentials = CredentialCache.DefaultNetworkCredentials;\n\n            try\n            {\n                using (HttpWebResponse resp = (HttpWebResponse)httpWebRequest.GetResponse())\n                {\n                    int respCode = (int)resp.StatusCode;\n                    Console.WriteLine(\"Success:{0} {1}\", respCode, \"bulks collection response\");\n\n                    Stream respStream = resp.GetResponseStream();\n                    using (StreamReader sr = new StreamReader(respStream, Encoding.UTF8))\n                    {\n                        string responseText = sr.ReadToEnd();\n                        Console.WriteLine(\"responseText : {0}\", responseText);\n                    }\n                }\n            }\n            catch (System.Net.WebException ex)\n            {\n                var webResponse = ex.Response as System.Net.HttpWebResponse;\n                Console.WriteLine(\"Error:{0}\", webResponse.StatusCode);\n\n                switch (webResponse.StatusCode)\n                {\n                    case HttpStatusCode.Unauthorized: // 401\n                        Console.WriteLine(\"Error:401 Client ID or API key isn't active or invalid!\");\n                        break;\n                    case HttpStatusCode.Forbidden: // 403\n                        Console.WriteLine(\"Error:403 Account isn't activated. Please wait or contact to support!\");\n                        break;\n                    case HttpStatusCode.InternalServerError: // 500\n                    case HttpStatusCode.BadGateway: //502\n                    case HttpStatusCode.ServiceUnavailable: // 503\n                    case HttpStatusCode.GatewayTimeout: // 504\n                        Console.WriteLine(\"System error! Please contact to LOX24 support!\");\n                        break;\n                }\n            }\n        }\n    }\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"io/ioutil\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tconst Method = \"GET\"\n\tconst URL = \"https://api.lox24.eu/bulks?sender_id=testsender\"\n\tconst Token = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\"\n\n\tclient := &http.Client{}\n\n\treq, err := http.NewRequest(Method, URL, nil)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\treq.Header.Add(\"X-LOX24-AUTH-TOKEN\", Token)\n\treq.Header.Add(\"Accept\", \"application/json\")\n\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tdefer res.Body.Close()\n\n\tbody, err := ioutil.ReadAll(res.Body)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tswitch res.StatusCode {\n\tcase 200:\n\t\tfmt.Println((string(body)))\n\tcase 401:\n\t\tfmt.Println(\"Error: code = 401 - Client ID or API key isn't active or invalid!\")\n\tcase 403:\n\t\tfmt.Println(\"Error: code = 403 - Account isn't activated. Please wait or contact to support!\")\n\tdefault:\n\t\tfmt.Printf(\"Error: code = %d\\n\", res.StatusCode)\n\t}\n}\n"
          },
          {
            "lang": "Java",
            "source": "package eu.lox24.doc.bulks;\n\nimport java.io.IOException;\nimport java.net.HttpURLConnection;\nimport java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\nimport java.time.Duration;\n\npublic class GetBulksCollection {\n\n    public static void main(String[] args) {\n\n        var key = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\";\n\n        var url = \"https://api.lox24.eu/bulks?_order[created_at]=desc\";\n\n        var httpRequest = HttpRequest.newBuilder(URI.create(url))\n                .timeout(Duration.ofMillis(100000))\n                .setHeader(\"Accept\", \"application/json\") // or application/ld+json\n                .setHeader(\"X-LOX24-AUTH-TOKEN\", key)\n                .GET()\n                .build();\n\n        var client = HttpClient.newBuilder()\n                .version(HttpClient.Version.HTTP_1_1) // Http 1.1 clients are kept alive be default\n                .build();\n\n        try {\n            var httpResponse = client.send(httpRequest, HttpResponse.BodyHandlers.ofString());\n\n            if (httpResponse.statusCode() == HttpURLConnection.HTTP_OK) {\n                System.out.println(\"Success:\" + httpResponse.statusCode() + \" \" + \"bulks collection response\");\n                System.out.println(\"Response text : \\n\" + httpResponse.body());\n            } else {\n                System.out.println(\"Error: something went wrong, code(\" + httpResponse.statusCode() + \")\");\n\n                switch (httpResponse.statusCode()) {\n\n                    case HttpURLConnection.HTTP_UNAUTHORIZED: // 401\n                        System.out.println(\"Error:401 Client ID or API key isn't active or invalid!\");\n                        break;\n                    case HttpURLConnection.HTTP_FORBIDDEN: // 403\n                        System.out.println(\"Error:403 Account isn't activated. Please wait or contact to support!\");\n                        break;\n                    case HttpURLConnection.HTTP_INTERNAL_ERROR: // 500\n                    case HttpURLConnection.HTTP_BAD_GATEWAY: //502\n                    case HttpURLConnection.HTTP_UNAVAILABLE: // 503\n                    case HttpURLConnection.HTTP_GATEWAY_TIMEOUT: // 504\n                        System.out.println(\"System error! Please contact to LOX24 support!\");\n                        break;\n                }\n\n            }\n\n        } catch (IOException | InterruptedException e) {\n            e.printStackTrace();\n        }\n    }\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "const host = 'api.lox24.eu';\nconst token = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\";\n\nvar query = \"created_at[gte]=1589713050&_order[created_at]=desc\";\n\nconst https = require('https');\nconst options = {\n    hostname: host,\n    path: '/bulks?' + query,\n    method: 'GET',\n    headers: {\n        'Accept': 'application/json',\n        'Content-Type': 'application/json',\n        'X-LOX24-AUTH-TOKEN': token\n    }\n}\n\nconst req = https.request(options, res => {\n    if (res.statusCode == 200) {\n        console.log('Success: code = 200 - bulks collection response');\n        res.on('data', d => {process.stdout.write(d) })\n    } else if (res.statusCode == 401) {\n        console.log(\"Error: code = 401 - Client ID or API key isn't active or invalid!\");\n    } else if (res.statusCode == 403) {\n        console.log(\"Error: code = 403 - Account isn't activated. Please wait or contact to support!\");\n    }  else {\n        console.log(\"Error: code = \" + res.statusCode );\n    }\n})\n\nreq.on('error', error => {\n    console.error(error)\n})\n\nreq.end();\n\n\n"
          },
          {
            "lang": "PHP (cUrl)",
            "source": "<?php\n\n$token = '1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx';\n\n$uri = 'https://api.lox24.eu/bulks';\n\n$filters = [\n    'sender_id' => 'test',\n    'created_at' => [\n        'gte' => 1588777845\n    ],\n    'page' => 1,\n    '_order' => [\n        'created_at' => 'desc'\n    ],\n];\n\n$uri .= $filters ? '?' . http_build_query($filters) : '';\n$curl = curl_init();\n\necho $uri;\n\ncurl_setopt_array($curl, [\n    CURLOPT_URL => $uri,\n    CURLOPT_HTTPHEADER => [\n        \"X-LOX24-AUTH-TOKEN: {$token}\",\n        'Accept: application/json', // or application/ld+json\n    ],\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_TIMEOUT => 20,\n    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n]);\n\n$response = curl_exec($curl);\n$code = curl_getinfo($curl, CURLINFO_HTTP_CODE);\ncurl_close($curl);\n\n$data = json_decode($response, JSON_OBJECT_AS_ARRAY);\n\nif(200 === $code) {\n    echo 'Success: response data = ' . var_export($data, true);\n} else {\n    echo \"Error: code = {$code}, data = \" . var_export($data, true);\n}\n\n\n\n"
          },
          {
            "lang": "Python",
            "source": "import json\nimport requests\n\n\ntoken = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\"\n\nurl = \"https://api.lox24.eu/bulks?_order[created_at]=desc\"\n\nheaders = {\n    'Accept': 'application/json', # or application/ld+json\n    'X-LOX24-AUTH-TOKEN': token,\n}\n\ntry:\n    # timeout is 100 seconds\n    res = requests.get(url, headers=headers, timeout=100)\n    if res.status_code != 200:\n        res.raise_for_status()\n    else:\n        print(f'Success: code = {res.status_code} - bulks collection response')\n        print(\"Response: \", json.dumps(res.json(), indent=4))\n\nexcept requests.HTTPError:\n    if res.status_code == 401:\n        print(\"Error: code = 401 - Client ID or API key isn't active or invalid!\")\n    elif res.status_code == 403:\n        print(\"Error: code = 403 - Account isn't activated. Please wait or contact to support!\")\n    elif res.status_code in (500, 502, 503, 504):\n        print(\"System error! Please contact to LOX24 support!\")\n    else:\n        print(f\"Error: code {res.status_code}\")\n    print(json.dumps(res.json(), indent=4))\n"
          }
        ]
      },
      "post": {
        "operationId": "api_bulks_post_collection",
        "tags": [
          "bulks"
        ],
        "responses": {
          "201": {
            "description": "bulks resource created",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/schema.bulks.jsonld-bulk_read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schema.bulks-bulk_read"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422-unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/429-too-many-requests"
          }
        },
        "summary": "Massen-SMS (Bulk) erstellen",
        "description": "Erstellen Sie eine Massen-SMS-Kampagne, indem Sie eine POST-Anfrage mit Nachrichtendetails und Empfängerinformationen senden.",
        "parameters": [],
        "requestBody": {
          "description": "The new bulks resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/schema.bulks-bulk_write"
              }
            }
          },
          "required": true
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "Bash",
            "source": "#!/usr/bin/env bash\ncurl -X POST https://api.lox24.eu/bulks \\\n  -H 'Content-Type: application/json' \\\n  -H 'X-LOX24-AUTH-TOKEN: 1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx' \\\n   -d '{\n\t\"sender_id\": \"testbulk\",\n    \"text\": \"test bulk text\",\n    \"service_code\": \"direct\",\n    \"phones\": [\"+49751234567\"],\n    \"msg_groups\": [7117],\n    \"delivery_at\": 1573724611,\n    \"is_unicode\": true,\n    \"source\": 1234,\n    \"voice_lang\": \"DE\"\n    }'\n"
          },
          {
            "lang": "C#",
            "source": "using Newtonsoft.Json;\nusing Newtonsoft.Json.Linq;\nusing System;\nusing System.IO;\nusing System.Net;\nusing System.Text;\n\nnamespace Lox24.Api\n{\n    class client\n    {\n        static void Main()\n        {\n            string key = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\";\n            string url = \"https://api.lox24.eu/bulks\";\n\n            var data = new {\n                sender_id = \"My Sender\",\n                text = \"Test message!\",\n                service_code = \"direct\",\n                phones = new string[]{\"+49751234567\", \"+49751234568\"},\n                msg_groups = new int[]{14514},\n                delivery_at = 1573724611,\n                is_unicode = true,\n                voice_lang = \"DE\"\n            };\n\n            string postdata = JsonConvert.SerializeObject(data);\n\n            Console.WriteLine(\"Post data: {0}\", postdata);\n\n            var httpWebRequest = (HttpWebRequest)WebRequest.Create(url);\n            httpWebRequest.ReadWriteTimeout = 100000;\n            httpWebRequest.ContentType = \"application/json; charset=utf-8\";\n            httpWebRequest.Accept = \"application/json\"; // or application/ld+json\n            httpWebRequest.Method = \"POST\";\n            httpWebRequest.KeepAlive = true;\n            httpWebRequest.Headers.Add(\"X-LOX24-AUTH-TOKEN\", key);\n            httpWebRequest.Credentials = CredentialCache.DefaultNetworkCredentials;\n\n            using (var streamWriter = new StreamWriter(httpWebRequest.GetRequestStream()))\n            {\n                streamWriter.Write(postdata);\n                streamWriter.Flush();\n                streamWriter.Close();\n            }\n            try\n            {\n                using (HttpWebResponse resp = (HttpWebResponse)httpWebRequest.GetResponse())\n                {\n\n                    if(resp.StatusCode == HttpStatusCode.Created) {\n                        Console.WriteLine(\"Success:{0} {1}\", (int)resp.StatusCode, \"bulks resource created\");\n                    } else {\n                        Console.WriteLine(\"Error: wrong response code {0} on create bulk\", (int)resp.StatusCode);\n                    }\n\n                    Stream respStream = resp.GetResponseStream();\n                    using (StreamReader sr = new StreamReader(respStream, Encoding.UTF8))\n                    {\n                        string responseText = sr.ReadToEnd();\n                        Console.WriteLine(\"responseText : {0}\", responseText);\n                    }\n                }\n\n            }\n            catch (System.Net.WebException ex)\n            {\n                var webResponse = ex.Response as System.Net.HttpWebResponse;\n                Console.WriteLine(\"Error:{0}\", webResponse.StatusCode);\n\n                switch (webResponse.StatusCode)\n                {\n                    case HttpStatusCode.BadRequest: // 400\n                        Console.WriteLine(\"Error:400 Invalid input\");\n                        break;\n                    case HttpStatusCode.Unauthorized: // 401\n                        Console.WriteLine(\"Error:401 Client ID or API key isn't active or invalid!\");\n                        break;\n                    case HttpStatusCode.Forbidden: // 403\n                        Console.WriteLine(\"Error:403 Account isn't activated. Please wait or contact to support!\");\n                        break;\n                    case HttpStatusCode.NotFound: // 404\n                        Console.WriteLine(\"Error:404 Resource not found\");\n                        break;\n                    case HttpStatusCode.InternalServerError: // 500\n                    case HttpStatusCode.BadGateway: //502\n                    case HttpStatusCode.ServiceUnavailable: // 503\n                    case HttpStatusCode.GatewayTimeout: // 504\n                        Console.WriteLine(\"System error! Please contact to LOX24 support!\");\n                        break;\n                }\n            }\n        }\n    }\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"io/ioutil\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tconst Method = \"POST\"\n\tconst URL = \"https://api.lox24.eu/bulks\"\n\tconst Token = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\"\n\n\tpayload := map[string]interface{}{\n\t\t\"sender_id\":    \"testbulk\",\n\t\t\"text\":         \"test bulk text\",\n\t\t\"service_code\": \"direct\",\n\t\t\"phones\":       []string{\"+49751234567\"},\n\t\t\"msg_groups\":   []int{7117},\n\t\t\"delivery_at\":  1593724611,\n\t\t\"is_unicode\":   true,\n\t\t\"source\":       1234,\n\t\t\"voice_lang\":   \"DE\",\n\t}\n\n\tjsonPayload, _ := json.Marshal(payload)\n\n\tclient := &http.Client{}\n\n\treq, err := http.NewRequest(Method, URL, bytes.NewBuffer(jsonPayload))\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\treq.Header.Add(\"X-LOX24-AUTH-TOKEN\", Token)\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"Accept\", \"application/json\")\n\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tdefer res.Body.Close()\n\n\tbody, err := ioutil.ReadAll(res.Body)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tswitch res.StatusCode {\n\tcase 201:\n\t\tfmt.Println((string(body)))\n\tcase 400:\n\t\tfmt.Println(\"Error: code = 400 - Invalid input\")\n\tcase 401:\n\t\tfmt.Println(\"Error: code = 401 - Client ID or API key isn't active or invalid!\")\n\tcase 403:\n\t\tfmt.Println(\"Error: code = 403 - Account isn't activated. Please wait or contact to support!\")\n\tdefault:\n\t\tfmt.Printf(\"Error: code = %d\\n\", res.StatusCode)\n\t}\n}\n"
          },
          {
            "lang": "Java",
            "source": "package eu.lox24.doc.bulks;\n\nimport org.json.JSONObject;\n\nimport java.io.IOException;\nimport java.net.HttpURLConnection;\nimport java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\nimport java.time.Duration;\n\npublic class PostBulksCollection {\n\n    public static void main(String[] args) {\n\n        var key = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\";\n        var url = \"https://api.lox24.eu/bulks\";\n\n        var json = new JSONObject();\n        json.put(\"sender_id\", \"My Sender\");\n        json.put(\"text\", \"Test message!\");\n        json.put(\"service_code\", \"direct\");\n        json.put(\"phones\", new String[]{\"+49751234567\", \"+49751234568\", \"+49751234569\"});\n        json.put(\"msg_groups\", new int[]{7116, 7117});\n        json.put(\"delivery_at\", 1573724611);\n        json.put(\"is_unicode\", true);\n        json.put(\"voice_lang\", \"DE\");\n\n        var postData = json.toString();\n\n        System.out.println(\"Post data: \" + postData);\n\n        var httpRequest = HttpRequest.newBuilder(URI.create(url))\n                .timeout(Duration.ofMillis(100000))\n                .setHeader(\"Content-Type\", \"application/json; charset=utf-8\")\n                .setHeader(\"Accept\", \"application/json\") // or application/ld+json\n                .setHeader(\"X-LOX24-AUTH-TOKEN\", key)\n                .POST(HttpRequest.BodyPublishers.ofString(postData))\n                .build();\n\n        var client = HttpClient.newBuilder()\n                .version(HttpClient.Version.HTTP_1_1) // Http 1.1 clients are kept alive be default\n                .build();\n\n        try {\n            var httpResponse = client.send(httpRequest, HttpResponse.BodyHandlers.ofString());\n\n            if (httpResponse.statusCode() == HttpURLConnection.HTTP_CREATED) {\n                System.out.println(\"Success:\" + httpResponse.statusCode() + \" \" + \"bulks resource created\");\n                System.out.println(\"Response text : \\n\" + httpResponse.body());\n\n            } else {\n\n                System.out.println(\"Error: wrong response code \" + httpResponse.statusCode() + \" on create bulk\");\n                System.out.println(\"Response text : \\n\" + httpResponse.body());\n\n                switch (httpResponse.statusCode()) {\n\n                    case HttpURLConnection.HTTP_BAD_REQUEST: // 400\n                        System.out.println(\"Error:400 Invalid input\");\n                        break;\n                    case HttpURLConnection.HTTP_UNAUTHORIZED: // 401\n                        System.out.println(\"Error:401 Client ID or API key isn't active or invalid!\");\n                        break;\n                    case HttpURLConnection.HTTP_FORBIDDEN: // 403\n                        System.out.println(\"Error:403 Account isn't activated. Please wait or contact to support!\");\n                        break;\n                    case HttpURLConnection.HTTP_INTERNAL_ERROR: // 500\n                    case HttpURLConnection.HTTP_BAD_GATEWAY: //502\n                    case HttpURLConnection.HTTP_UNAVAILABLE: // 503\n                    case HttpURLConnection.HTTP_GATEWAY_TIMEOUT: // 504\n                        System.out.println(\"System error! Please contact to LOX24 support!\");\n                        break;\n                }\n\n            }\n\n        } catch (IOException | InterruptedException e) {\n            e.printStackTrace();\n        }\n    }\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "const host = 'api.lox24.eu';\nconst token = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\";\n\nvar postObj = {\n    sender_id: 'My Sender',\n    text: 'Test message',\n    service_code: 'direct',\n    phones: ['+49751234567', '+344354634'],\n    msg_groups: [7117],\n    delivery_at: 1573724611,\n    is_unicode: true,\n    voice_lang: 'DE',\n};\n\nvar postdata = JSON.stringify(postObj);\n\nconst https = require('https');\nconst options = {\n    hostname: host,\n    path: '/bulks',\n    method: 'POST',\n    headers: {\n        'Accept': 'application/json',\n        'Content-Type': 'application/json',\n        'Content-Length': postdata.length,\n        'X-LOX24-AUTH-TOKEN': token\n    }\n}\n\nconst req = https.request(options, res => {\n    if (res.statusCode == 201) {\n        console.log(\"Success: code = 201 - bulks resource created\");\n        res.on('data', d => { process.stdout.write(d) })\n    } else if (res.statusCode == 400) {\n        console.log(\"Error: code = 400 - Invalid input\");\n    } else if (res.statusCode == 401) {\n        console.log(\"Error: code = 401 - Client ID or API key isn't active or invalid!\");\n    } else if (res.statusCode == 403) {\n        console.log(\"Error: code = 403 - Account isn't activated. Please wait or contact to support!\");\n    } else {\n        console.log(\"Error: code = \" + res.statusCode );\n    }\n});\n\nreq.on('error', error => {\n    console.error(error)\n});\n\nreq.write(postdata);\nreq.end();\n\n\n"
          },
          {
            "lang": "PHP (cUrl)",
            "source": "<?php\n\n$uri = 'https://api.lox24.eu/bulks';\n\n$token = '1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx';\n\n$body = [\n    'sender_id' => 'testbulk',\n    'text' => 'test bulk text',\n    'service_code' => 'direct',\n    'phones' => ['+49751234567'],\n    'msg_groups' => [7117],\n    'delivery_at' => 1573724611,\n    'is_unicode' => true,\n    'source' => 1234,\n    'voice_lang' => 'DE',\n];\n\nif(!$body = json_encode($body)) {\n    die('JSON encoding error!');\n}\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n    CURLOPT_POST => true,\n    CURLOPT_URL => $uri,\n    CURLOPT_POSTFIELDS => $body,\n    CURLOPT_HTTPHEADER => [\n        \"X-LOX24-AUTH-TOKEN: {$token}\",\n        'Accept: application/json', // or application/ld+json\n        'Content-Type: application/json',\n    ],\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_TIMEOUT => 30,\n    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n]);\n\n$response = curl_exec($curl);\n$code = curl_getinfo($curl, CURLINFO_HTTP_CODE);\ncurl_close($curl);\n\n$data = json_decode($response, JSON_OBJECT_AS_ARRAY);\n\nif(201 === $code) {\n    echo 'Success: response data = ' . var_export($data, true);\n} else {\n    echo \"Error: code = {$code}, data = \" . var_export($data, true);\n}\n\n\n\n"
          },
          {
            "lang": "Python",
            "source": "import json\nimport requests\n\n\ntoken = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\"\n\nurl = \"https://api.lox24.eu/bulks\"\n\ndata = {\n    'sender_id': \"My Sender\",\n    'text' : \"Test message\",\n    'service_code' : \"direct\",\n    'phones': [\"+49751234567\", \"+49751234568\"],\n    'msg_groups': [14514],\n    'delivery_at': 1573724611,\n    'is_unicode': True,\n    'voice_lang' : \"DE\"\n}\n\nheaders = {\n    'Accept': 'application/json', # or application/ld+json\n    'Content-Type': 'application/json',\n    'X-LOX24-AUTH-TOKEN': token,\n}\n\nprint(\"Post data: \", json.dumps(data, indent=4))\n\ntry:\n    # timeout is 100 seconds\n    res = requests.post(url, headers=headers, json=data, timeout=100)\n    if res.status_code != 201: # Created\n        res.raise_for_status()\n    else:\n        print(f'Success: code = {res.status_code} - bulks resource created')\n        print(\"Response: \", json.dumps(res.json(), indent=4))\n\nexcept requests.HTTPError:\n    if res.status_code == 400:\n        print(\"Error:400 Invalid input\")\n    elif res.status_code == 401:\n        print(\"Error: code = 401 - Client ID or API key isn't active or invalid!\")\n    elif res.status_code == 403:\n        print(\"Error: code = 403 - Account isn't activated. Please wait or contact to support!\")\n    elif res.status_code in (500, 502, 503, 504):\n        print(\"System error! Please contact to LOX24 support!\")\n    else:\n        print(f\"Error: code {res.status_code}\")\n    print(\"Response: \", json.dumps(res.json(), indent=4))\n\n\n"
          }
        ]
      }
    },
    "/bulks/dryrun": {
      "post": {
        "operationId": "api_bulks_post_dryrun_collection",
        "tags": [
          "bulks"
        ],
        "responses": {
          "201": {
            "description": "bulks resource created",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/schema.bulks.jsonld-bulk_read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schema.bulks-bulk_read"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422-unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/429-too-many-requests"
          }
        },
        "summary": "Simulieren Sie die Erstellung einer Massen-SMS Sendung (zum Testen)",
        "description": "Dieser Endpunkt wird zu Testzwecken verwendet, um die Erstellung eines Bulk zu simulieren, ohne dass tatsächlich SMS erstellt und gegen eine Gebühr an den Netzbetreiber weitergeleitet werden.",
        "parameters": [],
        "requestBody": {
          "description": "The new bulks resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/schema.bulks-bulk_write"
              }
            }
          },
          "required": true
        },
        "deprecated": false,
        "x-codeSamples": [
          {
            "lang": "Bash",
            "source": "#!/usr/bin/env bash\ncurl -X POST https://api.lox24.eu/bulks/dryrun \\\n  -H 'Content-Type: application/json' \\\n  -H 'X-LOX24-AUTH-TOKEN: 1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx' \\\n   -d '{\n\t\"sender_id\": \"testbulk\",\n    \"text\": \"test bulk text\",\n    \"service_code\": \"direct\",\n    \"phones\": [\"+49751234567\"],\n    \"msg_groups\": [7117],\n    \"delivery_at\": 1573724611,\n    \"is_unicode\": true,\n    \"source\": 1234,\n    \"voice_lang\": \"DE\"\n    }'\n"
          },
          {
            "lang": "C#",
            "source": "using Newtonsoft.Json;\nusing Newtonsoft.Json.Linq;\nusing System;\nusing System.IO;\nusing System.Net;\nusing System.Text;\n\nnamespace Lox24.Api\n{\n    class client\n    {\n        static void Main()\n        {\n            string key = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\";\n            string url = \"https://api.lox24.eu/bulks/dryrun\";\n\n            var data = new {\n                sender_id = \"My Sender\",\n                text = \"Test message!\",\n                service_code = \"direct\",\n                phones = new string[]{\"+49751234567\", \"+49751234568\"},\n                msg_groups = new int[]{14514},\n                delivery_at = 1573724611,\n                is_unicode = true,\n                voice_lang = \"DE\"\n            };\n\n            string postdata = JsonConvert.SerializeObject(data);\n\n            Console.WriteLine(\"Post data: {0}\", postdata);\n\n            var httpWebRequest = (HttpWebRequest)WebRequest.Create(url);\n            httpWebRequest.ReadWriteTimeout = 100000;\n            httpWebRequest.ContentType = \"application/json; charset=utf-8\";\n            httpWebRequest.Accept = \"application/json\"; // or application/ld+json\n            httpWebRequest.Method = \"POST\";\n            httpWebRequest.KeepAlive = true;\n            httpWebRequest.Headers.Add(\"X-LOX24-AUTH-TOKEN\", key);\n            httpWebRequest.Credentials = CredentialCache.DefaultNetworkCredentials;\n\n            using (var streamWriter = new StreamWriter(httpWebRequest.GetRequestStream()))\n            {\n                streamWriter.Write(postdata);\n                streamWriter.Flush();\n                streamWriter.Close();\n            }\n            try\n            {\n                using (HttpWebResponse resp = (HttpWebResponse)httpWebRequest.GetResponse())\n                {\n\n                    if(resp.StatusCode == HttpStatusCode.Created) {\n                        Console.WriteLine(\"Success:{0} {1}\", (int)resp.StatusCode, \"bulks resource created\");\n                    } else {\n                        Console.WriteLine(\"Error: wrong response code {0} on create bulk\", (int)resp.StatusCode);\n                    }\n\n                    Stream respStream = resp.GetResponseStream();\n                    using (StreamReader sr = new StreamReader(respStream, Encoding.UTF8))\n                    {\n                        string responseText = sr.ReadToEnd();\n                        Console.WriteLine(\"responseText : {0}\", responseText);\n                    }\n                }\n\n            }\n            catch (System.Net.WebException ex)\n            {\n                var webResponse = ex.Response as System.Net.HttpWebResponse;\n                Console.WriteLine(\"Error:{0}\", webResponse.StatusCode);\n\n                switch (webResponse.StatusCode)\n                {\n                    case HttpStatusCode.BadRequest: // 400\n                        Console.WriteLine(\"Error:400 Invalid input\");\n                        break;\n                    case HttpStatusCode.Unauthorized: // 401\n                        Console.WriteLine(\"Error:401 Client ID or API key isn't active or invalid!\");\n                        break;\n                    case HttpStatusCode.Forbidden: // 403\n                        Console.WriteLine(\"Error:403 Account isn't activated. Please wait or contact to support!\");\n                        break;\n                    case HttpStatusCode.NotFound: // 404\n                        Console.WriteLine(\"Error:404 Resource not found\");\n                        break;\n                    case HttpStatusCode.InternalServerError: // 500\n                    case HttpStatusCode.BadGateway: //502\n                    case HttpStatusCode.ServiceUnavailable: // 503\n                    case HttpStatusCode.GatewayTimeout: // 504\n                        Console.WriteLine(\"System error! Please contact to LOX24 support!\");\n                        break;\n                }\n            }\n        }\n    }\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"io/ioutil\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tconst Method = \"POST\"\n\tconst URL = \"https://api.lox24.eu/bulks/dryrun\"\n\tconst Token = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\"\n\n\tpayload := map[string]interface{}{\n\t\t\"sender_id\":    \"testbulk\",\n\t\t\"text\":         \"test bulk text\",\n\t\t\"service_code\": \"direct\",\n\t\t\"phones\":       []string{\"+49751234567\"},\n\t\t\"msg_groups\":   []int{7117},\n\t\t\"delivery_at\":  1593724611,\n\t\t\"is_unicode\":   true,\n\t\t\"source\":       1234,\n\t\t\"voice_lang\":   \"DE\",\n\t}\n\n\tjsonPayload, _ := json.Marshal(payload)\n\n\tclient := &http.Client{}\n\n\treq, err := http.NewRequest(Method, URL, bytes.NewBuffer(jsonPayload))\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\treq.Header.Add(\"X-LOX24-AUTH-TOKEN\", Token)\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"Accept\", \"application/json\")\n\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tdefer res.Body.Close()\n\n\tbody, err := ioutil.ReadAll(res.Body)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tswitch res.StatusCode {\n\tcase 201:\n\t\tfmt.Println((string(body)))\n\tcase 400:\n\t\tfmt.Println(\"Error: code = 400 - Invalid input\")\n\tcase 401:\n\t\tfmt.Println(\"Error: code = 401 - Client ID or API key isn't active or invalid!\")\n\tcase 403:\n\t\tfmt.Println(\"Error: code = 403 - Account isn't activated. Please wait or contact to support!\")\n\tdefault:\n\t\tfmt.Printf(\"Error: code = %d\\n\", res.StatusCode)\n\t}\n}\n"
          },
          {
            "lang": "Java",
            "source": "package eu.lox24.doc.bulks;\n\nimport org.json.JSONObject;\n\nimport java.io.IOException;\nimport java.net.HttpURLConnection;\nimport java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\nimport java.time.Duration;\n\npublic class PostDryRunBulksCollection {\n\n    public static void main(String[] args) {\n\n        var key = \"1234567:e3f3a759b6677959b6ebfcxxxxxxxxxx\";\n        var url = \"https://api.lox24.eu/bulks/dryrun\";\n\n        var json = new JSONObject();\n        json.put(\"sender_id\", \"My Sender\");\n        json.put(\"text\", \"Test message!\");\n        json.put(\"service_code\", \"direct\");\n        json.put(\"phones\", new String[]{\"+49751234567\", \"+49751234568\", \"+49751234569\"});\n        json.put(\"msg_groups\", new int[]{7116, 7117});\n        json.put(\"delivery_at\", 1573724611);\n        json.put(\"is_unicode\", true);\n        json.put(\"voice_lang\", \"DE\");\n\n        var postData = json.toString();\n\n        System.out.println(\"Post data: \" + postData);\n\n        var httpRequest = HttpRequest.newBuilder(URI.create(url))\n                .timeout(Duration.ofMillis(100000))\n                .setHeader(\"Content-Type\", \"application/json; charset=utf-8\")\n                .setHeader(\"Accept\", \"application/json\") // or application/ld+json\n                .setHeader(\"X-LOX24-AUTH-TOKEN\", key)\n                .POST(HttpRequest.BodyPublishers.ofString(postData))\n                .build();\n\n        var client = HttpClient.newBuilder()\n                .version(HttpClient.Version.HTTP_1_1) // Http 1.1 clients are kept alive be default\n                .build();\n\n        try {\n            var httpResponse = client.send(httpRequest, HttpResponse.BodyHandlers.ofString());\n\n            if (httpResponse.statusCode() == HttpURLConnection.HTTP_CREATED) {\n                System.out.println(\"Success:\" + httpResponse.statusCode() + \" \" + \"bulks resource created\");\n                System.out.println(\"Response text : \\n\" + httpResponse.body());\n\n            } else {\n\n                System.out.println(\"Error: wrong response code \" + httpResponse.statusCode() + \" on create bulk\");\n                System.out.println(\"Response text : \\n\" + httpResponse.body());\n\n                switch (httpResponse.statusCode()) {\n\n                    case HttpURLConnection.HTTP_BAD_REQUEST: // 400\n                        System.out.println(\"Error:400 Invalid input\");\n                        break;\n                    case HttpURLConnection.HTTP_UNAUTHORIZED: // 401\n                        System.out.println(\"Error:401 Client ID or API key isn't active or invalid!\");\n                        break;\n                    case HttpURLConnection.HTTP_FORBIDDEN: // 403\n                        System.out.println(\"Error:403 Account isn't activated. Please wait or contact to support!\");\n                        break;\n                    case HttpURLConnection.HTTP_INTERNAL_ERROR: // 500\n                    case HttpURLConnection.HTTP_BAD_GATEWAY: //502\n                    case HttpURLConnection.HTTP_UNAVAILABLE: // 503\n                    case HttpURLConnection.HTTP_GATEWAY_TIMEOUT: // 504\n                        System.out.println(\"System error! Please contact to LOX24 support!\");\n                        break;\n                }\n\n            }\n\n        } catch (IOException | InterruptedException e) {\n            e.printStackTrace();\n        }\n    }\n}\n"
          },
          {
            "lang": "JavaScript",
[...]
