# requirements for development and testing this service

# template requirements for development and testing
-r requirements-dev-template.in

# additional requirements can be listed here
testcontainers[kafka]>=4.12,<4.13
aiosmtpd>=1.4.6,<1.5
openapi-core>=0.19.5

# needed for ghga_service_commons.api.mock_router
ghga-service-commons[api]>=8
